{% embed 'phoenix::accordion/accordion.twig' with { type: 'checkbox' } %}
    {% block items %}
        {% embed "phoenix::accordion/accordion-item.twig" with { 'checked': true } %}
            {% block header %}test{% endblock %}
        {% endembed %}
        {% embed "phoenix::accordion/accordion-item.twig" %}
            {% block header %}test2{% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
