{%  if type is defined %}
    {% set type = ' alert-' ~ type %}
{% endif %}

<div class="alert{{ type }}" role="alert">
    {% block content %}
        A simple alert. check it out!
    {% endblock %}
</div>
