{% extends '../layouts/default.twig' %}
{% set head_title = 'Index' %}
{% set body_class = '' %}

{% block page %}
  <div class="container">
    <div class="row">
      <div class="col-12">

        {% embed 'phoenix::accordion/accordion.twig' with { type: 'radio' } %}
          {% block items %}
            {% embed "phoenix::accordion/accordion-item.twig" with { 'checked': true } %}
              {% block header %}test{% endblock %}
            {% endembed %}
            {% embed "phoenix::accordion/accordion-item.twig" %}
              {% block header %}test2{% endblock %}
            {% endembed %}
          {% endblock %}
        {% endembed %}
      </div>

    </div>
  </div>

{% endblock %}
