
{% embed 'phoenix::alert/alert.twig' with {
    'type': 'primary',
} %}
    {% block content %}
        A simple Primary alert! check it out!
    {% endblock %}
{% endembed %}

        {% embed 'phoenix::alert/alert.twig' with {
            'type': 'info',
        } %}
            {% block content %}
                A simple Primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
            {% endblock %}
        {% endembed %}

        {% embed 'phoenix::alert/alert.twig' with {
            'type': 'danger',
        } %}
            {% block content %}
                A simple Danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
            {% endblock %}
        {% endembed %}

        {% embed 'phoenix::alert/alert.twig' with {
            'type': 'success',
        } %}
            {% block content %}
                A simple Success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
            {% endblock %}
        {% endembed %}

        {% embed 'phoenix::alert/alert.twig' with {
            'type': 'warning',
        } %}
            {% block content %}
                A simple Warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
            {% endblock %}
        {% endembed %}

        {% embed 'phoenix::alert/alert.twig' with {
            'type': 'gray',
        } %}
            {% block content %}
                A simple Gray alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
            {% endblock %}
        {% endembed %}

