<div class="alert d-flex alert-info" role="alert">
  <div class="alert-icon">
    {% include 'phoenix::icon/icon.twig' with {
      'icon': 'information-circle',
      'size': 32
    } %}
  </div>
  <div class="alert-content-with-icon"><h4 class="alert-heading">Information!</h4>
    <p class="mb-0">Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p></div>
</div>
<div class="alert d-flex alert-danger" role="alert">
  <div class="alert-icon">
    {% include 'phoenix::icon/icon.twig' with {
      'icon': 'exclamation-triangle',
      'size': 32
    } %}
  </div>
  <div class="alert-content-with-icon"><h4 class="alert-heading">Important information!</h4>
    <p class="mb-0">Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p></div>
</div>
<div class="alert d-flex alert-success" role="alert">
  <div class="alert-icon">
    {% include 'phoenix::icon/icon.twig' with {
      'icon': 'hook-circle',
      'size': 32
    } %}

  </div>
  <div class="alert-content-with-icon"><h4 class="alert-heading">Well done!</h4>
    <p class="mb-0">Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p></div>
</div>
<div class="alert d-flex alert-warning" role="alert">
  <div class="alert-icon">
    {% include 'phoenix::icon/icon.twig' with {
      'icon': 'exclamation-circle',
      'size': 32
    } %}
  </div>
  <div class="alert-content-with-icon"><h4 class="alert-heading">Warning!</h4>
    <p class="mb-0">Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p></div>
</div>
<div class="alert d-flex alert-gray" role="alert">
  <div class="alert-icon">
    {% include 'phoenix::icon/icon.twig' with {
      'size': 32
    } %}
  </div>
  <div class="alert-content-with-icon"><h4 class="alert-heading">Insignificant information!</h4>
    <p class="mb-0">Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p></div>
</div>
