
        {% embed 'phoenix::alert/alert.twig' with {
            'type': 'primary',
        } %}
            {% block content %}
                A simple Primary alert! check it out!
            {% endblock %}
        {% endembed %}

        {% embed 'phoenix::alert/alert.twig' with {
            'type': 'info',
        } %}
            {% block content %}
                A simple info alert! check it out!
            {% endblock %}
        {% endembed %}

        {% embed 'phoenix::alert/alert.twig' with {
            'type': 'danger',
        } %}
            {% block content %}
                A simple danger alert! check it out!
            {% endblock %}
        {% endembed %}

        {% embed 'phoenix::alert/alert.twig' with {
            'type': 'success',
        } %}
            {% block content %}
                A simple success alert! check it out!
            {% endblock %}
        {% endembed %}

        {% embed 'phoenix::alert/alert.twig' with {
            'type': 'warning',
        } %}
            {% block content %}
                A simple warning alert! check it out!
            {% endblock %}
        {% endembed %}

        {% embed 'phoenix::alert/alert.twig' with {
            'type': 'gray',
        } %}
            {% block content %}
                A simple gray alert! check it out!
            {% endblock %}
        {% endembed %}

