
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                {% include 'phoenix::icon/icon.twig' with {
                    'icon': 'cross',
                    'size': 32,
                    'title': 'Close',
                    'class': 'icon-close'
                } %}
            </button>
            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        </div>
