<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        {% include 'phoenix::icon/icon.twig' with {
            'icon': 'cross',
            'size': 32,
            'title': 'Close',
            'class': 'icon-close'
        } %}
    </button>
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
</div>
<div class="alert alert-success d-flex alert-dismissible fade show" role="alert">
    <div class="alert-icon">
        {% include 'phoenix::icon/icon.twig' with {
            'icon': 'hook-circle',
            'size': 32,
            'title': 'Success'
        } %}

    </div>
    <div class="alert-content-with-icon">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            {% include 'phoenix::icon/icon.twig' with {
                'icon': 'cross',
                'size': 32,
                'title': 'Close',
                'class': 'icon-close'
            } %}
        </button>
        <h4 class="alert-heading">Well done!</h4>
        <p class="mb-0">Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p></div>
</div>
