// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  display: inline-block;
  @include button-size-fixed-height($btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius, $btn-height, $btn-border-width);
  @include media-breakpoint-up(lg) {
    @include button-size-fixed-height($btn-padding-x, $btn-font-size-at-lg, $btn-line-height, $btn-border-radius, $btn-height-at-lg, $btn-border-width);
  }
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  @include transition($btn-transition);

  // Share hover and focus styles
  @include hover {
    color: $body-color;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    @include box-shadow(none);
    cursor: not-allowed;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }

  &:not(.btn-link) {
    text-decoration: none;
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}


//
// Alternate buttons
//

// Primary
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

// Primary negative / inverted
.btn-primary-negative {
  @include button-variant($white, $white, mix($white, phoenix-color("gray"), 68%), mix($white, phoenix-color("gray"), 68%), mix($white, phoenix-color("gray"), 68%), mix($white, phoenix-color("gray"), 68%));
}

// Secondary
.btn-secondary {
  @include button-outline-variant($primary);
}

// Secondary negative / inverted
.btn-secondary-negative {
  @include button-outline-variant($white, phoenix-color("primary"), mix($white, phoenix-color("gray"), 68%), mix($white, phoenix-color("gray"), 68%));
}

// slider buttons
.btn-slider {
  padding: $btn-slider-padding;
  color: $btn-slider-color;
  background-color: $btn-slider-bg;
  border: none;
  box-shadow: $btn-slider-box-shadow;

  &:hover,
  &:focus,
  &.focus {
    color: $btn-slider-hover-color;
    background-color: $btn-slider-hover-bg;
  }

  &:focus,
  &.focus {
    box-shadow: $btn-slider-box-shadow;
  }
}


//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  text-decoration: $link-decoration;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
    cursor: not-allowed;
  }

  // No need for an active state here
}


//
// Button Sizes
//

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}


//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
