.icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

// Align icon inside button
.btn-icon {
  margin-top: calculateRem(-5px);
  margin-bottom: calculateRem(-1px);
  vertical-align: middle;
}

// Global icon sizes
.icon-8 {
  width: .5rem;
  height: .5rem;
}

.icon-16 {
  width: 1rem;
  height: 1rem;
}

.icon-24 {
  width: 1.5rem;
  height: 1.5rem;
}

.icon-32 {
  width: 2rem;
  height: 2rem;
}

.icon-close {
  width: $close-size;
  height: $close-size;
}

.icon-vertical-middle {
  vertical-align: middle;
  transform: translateY(calculateRem(-2px));
}
