// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

// see also variables-color.scss file!

$gray-100: phoenix-color("gray", "background") !default;
$gray-200: phoenix-color("gray", "lightest") !default;
$gray-300: phoenix-color("gray", "lighter") !default;
$gray-400: phoenix-color("gray", "light") !default;
$gray-500: phoenix-color("gray", "base") !default;
$gray-600: phoenix-color("gray", "dark") !default;
$gray-700: phoenix-color("gray", "darker") !default;
$gray-800: phoenix-color("gray", "darkest") !default;
$gray-900: phoenix-color("gray", "darkest") !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$white:   #ffffff !default;
$primary: #007bff !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-500,
    "gray-dark":  $gray-800
  ),
  $colors
);

// Path for icons (the webpack.config.js is the root folder)
// needed for base64 encoded icons in css
$expression-icon-path: "./phoenix/assets/icons/expression/" !default;
$interaction-icon-path: "./phoenix/assets/icons/interaction/" !default;
$navigation-icon-path: "./phoenix/assets/icons/navigation/" !default;
$smiley-icon-path: "./phoenix/assets/icons/smiley/" !default;
$scss-icon-path: "./phoenix/assets/icons/_scssOnly/" !default;

// Set a specific jump point for requesting color jumps
$theme-color-interval:      8% !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $primary !default;
$yiq-text-light:            $white !default;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret:                                true !default;
$enable-rounded:                              true !default;
$enable-shadows:                              false !default;
$enable-gradients:                            false !default;
$enable-transitions:                          true !default;
$enable-prefers-reduced-motion-media-query:   true !default;
$enable-hover-media-query:                    false !default; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes:                         true !default;
$enable-pointer-cursor-for-buttons:           true !default;
$enable-print-styles:                         true !default;
$enable-responsive-font-sizes:                true !default;
$enable-validation-icons:                     true !default;
$enable-deprecation-messages:                 false !default;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: .5rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * 1),
    2: ($spacer * 2),
    3: ($spacer * 3),
    4: ($spacer * 4),
    5: ($spacer * 5),
    6: ($spacer * 6),
    7: ($spacer * 7),
    8: ($spacer * 8),
    9: ($spacer * 9),
    10: ($spacer * 10),
    11: ($spacer * 11),
    12: ($spacer * 12),
    13: ($spacer * 13),
    14: ($spacer * 14),
    15: ($spacer * 15),
    16: ($spacer * 16)
  ),
  $spacers
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);


// Body
//
// Settings for the `<body>` element.

$body-bg:                   phoenix-color("gray", "background") !default;
$body-color:                phoenix-color("gray", "darker") !default;


// Links
//
// Style anchor elements.

$link-color:                              theme-color("primary") !default;
$link-decoration:                         underline !default;
$link-hover-color:                        phoenix-color("primary", "darker") !default;
$link-hover-decoration:                   underline !default;
$link-active-color:                       phoenix-color("primary", "darker") !default;
$link-active-decoration:                  none !default;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15% !default;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   2rem !default;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 360px,
  hd: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1680px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  lg: 1140px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           16px !default;


// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default;

$border-width:                1px !default;
$border-color:                $gray-300 !default;

$border-radius:               calculateRem(2px) !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;

$rounded-pill:                50rem !default;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  0 .125rem .25rem rgba($black, .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;

$component-active-color:      $white !default;
$component-active-bg:         theme-color("primary") !default;

$caret-width:                 .3em !default;
$caret-vertical-align:        $caret-width * .85 !default;
$caret-spacing:               $caret-width * .85 !default;

$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;

$embed-responsive-aspect-ratios: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$embed-responsive-aspect-ratios: join(
  (
    (21 9),
    (16 9),
    (4 3),
    (1 1),
  ),
  $embed-responsive-aspect-ratios
);


// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-path:                   "../fonts/" !default;

$fonts-to-load: null !default;

// stylelint-disable value-keyword-case
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;
// stylelint-enable value-keyword-case

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                1.25rem !default;
$font-size-sm:                .75rem !default;

$font-grow:                   calculateRem(2px) !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.4 !default;

$h1-font-size:                calculateRem(32px) !default;
$h2-font-size:                calculateRem(28px) !default;
$h3-font-size:                calculateRem(24px) !default;
$h4-font-size:                calculateRem(20px) !default;
$h5-font-size:                $font-size-base !default;

$heading-h1-margin-bottom:    ($spacer * 4) !default;
$heading-h2-margin-bottom:    ($spacer * 2) !default;
$headings-margin-bottom:      $spacer !default;
$headings-font-family:        null !default;
$headings-font-weight:        700 !default;
$headings-line-height:        1.2 !default;
$headings-color:              null !default;

$display1-size:               6rem !default;
$display2-size:               5.5rem !default;
$display3-size:               4.5rem !default;
$display4-size:               3.5rem !default;

$display1-weight:             300 !default;
$display2-weight:             300 !default;
$display3-weight:             300 !default;
$display4-weight:             300 !default;
$display-line-height:         $headings-line-height !default;

$lead-font-size:              $font-size-base * 1.25 !default;
$lead-font-weight:            300 !default;

$small-font-size:             80% !default;

$text-muted:                  $gray-600 !default;
$text-disabled:               phoenix-color("gray", "light") !default; // deprecated. No longer used.

$blockquote-small-color:      $gray-600 !default;
$blockquote-small-font-size:  $small-font-size !default;
$blockquote-font-size:        $font-size-base * 1.25 !default;

$hr-border-color:             rgba($black, .1) !default;
$hr-border-width:             $border-width !default;

$mark-padding:                .2em !default;

$dt-font-weight:              $font-weight-bold !default;

$kbd-box-shadow:              inset 0 -.1rem 0 rgba($black, .25) !default;
$nested-kbd-font-weight:      $font-weight-bold !default;

$list-inline-padding:         .5rem !default;

$mark-bg:                     #fcf8e3 !default;

$hr-margin-y:                 $paragraph-margin-bottom !default;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding:          .5rem 1rem !default;
$table-cell-padding-sm:       .3rem !default;

$table-color:                 $body-color !default;
$table-bg:                    null !default;
$table-accent-bg:             phoenix-color("gray", "lightest") !default;
$table-hover-color:           $table-color !default;
$table-hover-bg:              rgba($black, .075) !default;
$table-active-bg:             $table-hover-bg !default;

$table-border-width:          $border-width !default;
$table-border-color:          $border-color !default;

$table-head-bg:               $gray-200 !default;
$table-head-color:            $gray-700 !default;

$table-dark-color:            $white !default;
$table-dark-bg:               $gray-800 !default;
$table-dark-accent-bg:        rgba($white, .05) !default;
$table-dark-hover-color:      $table-dark-color !default;
$table-dark-hover-bg:         rgba($white, .075) !default;
$table-dark-border-color:     lighten($table-dark-bg, 7.5%) !default;
$table-dark-color:            $white !default;

$table-striped-order:         odd !default;

$table-caption-color:         $text-muted !default;

$table-bg-level:              -9 !default;
$table-border-level:          -6 !default;


// Button + Form
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-border-width:      $border-width !default;

$input-btn-padding-y:         .75rem !default;
$input-btn-padding-x:         1rem - calculateRem($input-btn-border-width) !default;
$input-btn-font-family:       null !default;
$input-btn-font-size:         $font-size-base !default;
$input-btn-line-height:       1.2 !default;
$input-btn-height:            calculateRem(40px) !default;
$input-btn-height-at-lg:      calculateRem(48px) !default;

$input-btn-focus-width:       calculateRem(3px) !default;
$input-btn-focus-color:       rgba($component-active-bg, .5) !default;
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

$input-btn-padding-y-sm:      .25rem !default;
$input-btn-padding-x-sm:      .5rem !default;
$input-btn-font-size-sm:      $font-size-sm !default;
$input-btn-line-height-sm:    $line-height-sm !default;

$input-btn-padding-y-lg:      .5rem !default;
$input-btn-padding-x-lg:      1rem !default;
$input-btn-font-size-lg:      $font-size-lg !default;
$input-btn-line-height-lg:    $line-height-lg !default;

// Buttons
//
// For each of CAKE's buttons, define text, background, and border color.

$btn-padding-y:               $input-btn-padding-y !default; // unused
$btn-padding-tb-diff:         0 !default;
$btn-padding-x:               $input-btn-padding-x !default;
$btn-font-family:             $input-btn-font-family !default;
$btn-font-size:               calculateRem(16px) !default;
$btn-font-size-at-lg:         $btn-font-size + $font-grow !default;
$btn-line-height:             $input-btn-line-height !default;
$btn-height:                  $input-btn-height !default;
$btn-height-at-lg:            $input-btn-height-at-lg !default;

$btn-padding-y-sm:            $input-btn-padding-y-sm !default;
$btn-padding-x-sm:            $input-btn-padding-x-sm !default;
$btn-font-size-sm:            $input-btn-font-size-sm !default;
$btn-line-height-sm:          $input-btn-line-height-sm !default;

$btn-padding-y-lg:            $input-btn-padding-y-lg !default;
$btn-padding-x-lg:            $input-btn-padding-x-lg !default;
$btn-font-size-lg:            $input-btn-font-size-lg !default;
$btn-line-height-lg:          $input-btn-line-height-lg !default;

$btn-border-width:            $input-btn-border-width !default;

$btn-font-weight:             $font-weight-bold !default;
$btn-font-size:               $font-size-base + $font-grow !default;
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-focus-width:             $input-btn-focus-width !default;
$btn-focus-box-shadow:        $input-btn-focus-box-shadow !default;
$btn-disabled-opacity:        .16 !default;
$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125) !default;

$btn-link-disabled-color:     $gray-600 !default;

$btn-block-spacing-y:         .5rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           $border-radius !default;
$btn-border-radius-lg:        $border-radius-lg !default;
$btn-border-radius-sm:        $border-radius-sm !default;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

// Slider Button
$btn-slider-color:            $body-color !default;
$btn-slider-bg:               $white !default;
$btn-slider-box-shadow:       $box-shadow !default;
$btn-slider-padding:          0 .5rem !default;

$btn-slider-hover-color:      $white !default;
$btn-slider-hover-bg:         $primary !default;


// Form

$label-margin-bottom:                   .5rem !default;

$input-padding-y:                       $input-btn-padding-y !default;
$input-padding-x:                       $input-btn-padding-x !default;
$input-font-family:                     $input-btn-font-family !default;
$input-font-size:                       $input-btn-font-size !default;
$input-font-size-at-lg:                 $input-btn-font-size + $font-grow !default;
$input-font-weight:                     $font-weight-base !default;
$input-line-height:                     $input-btn-line-height !default;

$input-padding-y-sm:                    $input-btn-padding-y-sm !default;
$input-padding-x-sm:                    $input-btn-padding-x-sm !default;
$input-font-size-sm:                    $input-btn-font-size-sm !default;
$input-line-height-sm:                  $input-btn-line-height-sm !default;

$input-padding-y-lg:                    $input-btn-padding-y-lg !default;
$input-padding-x-lg:                    $input-btn-padding-x-lg !default;
$input-font-size-lg:                    $input-btn-font-size-lg !default;
$input-line-height-lg:                  $input-btn-line-height-lg !default;

$input-bg:                              $white !default;
$input-disabled-bg:                     $body-bg !default;
$input-disabled-color:                  phoenix-color("gray", "base") !default;
$input-disabled-border-color:           phoenix-color("gray", "light") !default;

$input-color:                           $primary !default;
$input-border-color:                    $gray !default;
$input-border-width:                    $input-btn-border-width !default;
$input-box-shadow:                      inset 0 1px 1px rgba($black, .075) !default;

$input-icon-size:                       calculateRem(24px) !default;

$input-border-radius:                   $border-radius !default;
$input-border-radius-lg:                $border-radius-lg !default;
$input-border-radius-sm:                $border-radius-sm !default;

$input-focus-bg:                        $input-bg !default;
$input-focus-border-color:              $primary !default;
$input-focus-color:                     phoenix-color("gray", "darker") !default;
$input-focus-width:                     $input-btn-focus-width !default;
$input-focus-box-shadow:                $input-btn-focus-box-shadow !default;

$input-placeholder-color:               $gray !default;
$input-plaintext-color:                 $body-color !default;

$input-height-border:                   $input-border-width * 2 !default;

$input-height-inner:                    calculateRem(48px - $input-height-border) !default;
$input-height-inner-half:               calculateRem(24px) !default;
$input-height-inner-quarter:            calculateRem(16px) !default;

$input-height:                          $input-btn-height !default;
$input-height-at-lg:                    $input-btn-height-at-lg !default;
$input-height-sm:                       calc(#{$input-line-height-sm * 1em} + #{$input-btn-padding-y-sm * 2} + #{$input-height-border}) !default;
$input-height-lg:                       calc(#{$input-line-height-lg * 1em} + #{$input-btn-padding-y-lg * 2} + #{$input-height-border}) !default;

$input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

$form-text-margin-top:                  .25rem !default;

$form-check-input-gutter:               1.25rem !default;
$form-check-input-margin-y:             .3rem !default;
$form-check-input-margin-x:             .25rem !default;

$form-check-inline-margin-x:            .75rem !default;
$form-check-inline-input-margin-x:      .3125rem !default;

$form-grid-gutter-width:                1rem !default;
$form-group-margin-bottom:              1rem !default;

$input-group-addon-color:               $input-color !default;
$input-group-addon-bg:                  $gray-200 !default;
$input-group-addon-border-color:        $input-border-color !default;

$custom-forms-transition:               background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

$custom-control-gutter:                 .5rem !default;
$custom-control-spacer-x:               1rem !default;

$custom-control-indicator-size:         calculateRem(24px) !default;
$custom-control-indicator-bg:           $input-bg !default;

$custom-control-indicator-bg-size:      1rem 1rem !default;
$custom-control-indicator-box-shadow:   $input-box-shadow !default;
$custom-control-indicator-border-color: phoenix-color("gray") !default;
$custom-control-indicator-border-width: $input-border-width !default;

$custom-control-indicator-border-color-hover: $primary !default;

$custom-control-indicator-disabled-bg:            $input-disabled-bg !default;
$custom-control-indicator-disabled-border-color:  phoenix-color("gray", "light") !default;
$custom-control-label-disabled-color:             phoenix-color("gray", "base") !default;

$custom-control-indicator-checked-color:          $primary !default;
$custom-control-indicator-checked-bg:             $component-active-bg !default;
$custom-control-indicator-checked-disabled-color: phoenix-color("gray", "light") !default;
$custom-control-indicator-checked-disabled-bg:    $body-bg !default;
$custom-control-indicator-checked-box-shadow:     none !default;
$custom-control-indicator-checked-border-color:   $custom-control-indicator-border-color !default;

$custom-control-indicator-focus-box-shadow:     $input-focus-box-shadow !default;
$custom-control-indicator-focus-border-color:   $input-focus-border-color !default;

$custom-control-indicator-active-color:         $component-active-color !default;
$custom-control-indicator-active-bg:            lighten($component-active-bg, 35%) !default;
$custom-control-indicator-active-box-shadow:    none !default;
$custom-control-indicator-active-border-color:  $custom-control-indicator-active-bg !default;

$custom-control-indicator-checked-danger-color: theme-color("danger") !default;


$custom-checkbox-indicator-border-radius:         $border-radius !default;
$custom-checkbox-indicator-icon-checked:          svg-load($scss-icon-path + "hook-bold.svg", fill=$custom-control-indicator-checked-color) !default;
$custom-checkbox-indicator-icon-checked-disabled: svg-load($scss-icon-path + "hook-bold.svg", fill=$custom-control-indicator-checked-disabled-color) !default;
$custom-checkbox-indicator-icon-checked-danger:   svg-load($scss-icon-path + "hook-bold.svg", fill=$custom-control-indicator-checked-danger-color) !default;

$custom-checkbox-indicator-indeterminate-bg:           $component-active-bg !default;
$custom-checkbox-indicator-indeterminate-color:        $custom-control-indicator-checked-color !default;
$custom-checkbox-indicator-icon-indeterminate:         str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='#{$custom-checkbox-indicator-indeterminate-color}' d='M0 2h4'/%3e%3c/svg%3e"), "#", "%23") !default;
$custom-checkbox-indicator-indeterminate-box-shadow:   none !default;
$custom-checkbox-indicator-indeterminate-border-color: $custom-checkbox-indicator-indeterminate-bg !default;

$custom-radio-indicator-border-radius:          50% !default;

$custom-radio-indicator-icon-checked:           svg-load($scss-icon-path + "bullet-standard.svg", fill=$custom-control-indicator-checked-color) !default;
$custom-radio-indicator-icon-checked-disabled:  svg-load($scss-icon-path + "bullet-standard.svg", fill=$custom-control-indicator-checked-disabled-color) !default;
$custom-radio-indicator-icon-checked-danger:    svg-load($scss-icon-path + "bullet-standard.svg", fill=$custom-control-indicator-checked-danger-color) !default;

$custom-switch-width:                           $custom-control-indicator-size * 1.75 !default;
$custom-switch-indicator-border-radius:         $custom-control-indicator-size / 2 !default;
$custom-switch-indicator-size:                  calc(#{$custom-control-indicator-size} - #{$custom-control-indicator-border-width * 4}) !default;

$custom-select-padding-y:                 .5rem !default;
$custom-select-padding-x:                 1rem - calculateRem($input-btn-border-width) !default;
$custom-select-font-family:               $input-font-family !default;
$custom-select-font-size:                 $input-font-size !default;
$custom-select-font-size-at-lg:           $input-font-size-at-lg !default;
$custom-select-height:                    $input-height !default;
$custom-select-height-at-lg:              $input-height-at-lg !default;
$custom-select-indicator-padding:         1rem !default; // Extra padding to account for the presence of the background-image based indicator
$custom-select-font-weight:               $input-font-weight !default;
$custom-select-line-height:               $input-line-height !default;
$custom-select-color:                     $input-color !default;
$custom-select-disabled-color:            $input-disabled-color !default;
$custom-select-bg:                        $input-bg !default;
$custom-select-disabled-border-color:     $input-disabled-border-color !default;
$custom-select-disabled-bg:               $input-disabled-bg !default;
$custom-select-disabled-indicator-color:  $input-disabled-color !default;
$custom-select-disabled-indicator:        svg-load($navigation-icon-path + "arrow-down.svg", fill=$custom-select-disabled-indicator-color) !default;
$custom-select-bg-size:                   $input-icon-size $input-icon-size !default;
$custom-select-indicator-color:           $body-color !default;
$custom-select-indicator:                 svg-load($navigation-icon-path + "arrow-down.svg", fill=$custom-select-indicator-color) !default;
$custom-select-background:                $custom-select-indicator no-repeat right $custom-select-padding-x center / $custom-select-bg-size !default; // Used so we can have multiple background elements (e.g., arrow and feedback icon)

$custom-select-feedback-icon-padding-right: calc((1em + #{2 * $custom-select-padding-y}) * 3 / 4 + #{$custom-select-padding-x + $custom-select-indicator-padding}) !default;
$custom-select-feedback-icon-position:      center right ($custom-select-padding-x + $custom-select-indicator-padding) !default;
$custom-select-feedback-icon-size:          $input-height-inner-half $input-height-inner-half !default;

$custom-select-border-width:              $input-btn-border-width !default;
$custom-select-border-color:              $input-border-color !default;
$custom-select-border-radius:             $border-radius !default;
$custom-select-box-shadow:                inset 0 1px 2px rgba($black, .075) !default;

$custom-select-focus-border-color:  $input-focus-border-color !default;
$custom-select-focus-width:         $input-focus-width !default;
$custom-select-focus-box-shadow:    0 0 0 $custom-select-focus-width $input-btn-focus-color !default;

$custom-select-hover-border-color:  $custom-select-focus-border-color !default;

$custom-select-padding-y-sm:        $input-padding-y-sm !default;
$custom-select-padding-x-sm:        $input-padding-x-sm !default;
$custom-select-font-size-sm:        $input-font-size-sm !default;
$custom-select-height-sm:           $input-height-sm !default;

$custom-select-padding-y-lg:        $input-padding-y-lg !default;
$custom-select-padding-x-lg:        $input-padding-x-lg !default;
$custom-select-font-size-lg:        $input-font-size-lg !default;
$custom-select-height-lg:           $input-height-lg !default;

$custom-range-track-width:          100% !default;
$custom-range-track-height:         .5rem !default;
$custom-range-track-cursor:         pointer !default;
$custom-range-track-bg:             $gray-300 !default;
$custom-range-track-border-radius:  1rem !default;
$custom-range-track-box-shadow:     inset 0 .25rem .25rem rgba($black, .1) !default;

$custom-range-thumb-width:                   1rem !default;
$custom-range-thumb-height:                  $custom-range-thumb-width !default;
$custom-range-thumb-bg:                      $component-active-bg !default;
$custom-range-thumb-border:                  0 !default;
$custom-range-thumb-border-radius:           1rem !default;
$custom-range-thumb-box-shadow:              0 .1rem .25rem rgba($black, .1) !default;
$custom-range-thumb-focus-box-shadow:        0 0 0 1px $body-bg, $input-focus-box-shadow !default;
$custom-range-thumb-focus-box-shadow-width:  $input-focus-width !default; // For focus box shadow issue in IE/Edge
$custom-range-thumb-active-bg:               lighten($component-active-bg, 35%) !default;
$custom-range-thumb-disabled-bg:             $gray-500 !default;

$custom-file-height:                $input-height !default;
$custom-file-height-inner:          $input-height-inner !default;
$custom-file-focus-border-color:    $input-focus-border-color !default;
$custom-file-focus-box-shadow:      $input-focus-box-shadow !default;
$custom-file-disabled-bg:           $input-disabled-bg !default;

$custom-file-padding-y:             $input-padding-y !default;
$custom-file-padding-x:             $input-padding-x !default;
$custom-file-line-height:           $input-line-height !default;
$custom-file-font-family:           $input-font-family !default;
$custom-file-font-weight:           $input-font-weight !default;
$custom-file-color:                 $input-color !default;
$custom-file-bg:                    $input-bg !default;
$custom-file-border-width:          $input-border-width !default;
$custom-file-border-color:          $input-border-color !default;
$custom-file-border-radius:         $input-border-radius !default;
$custom-file-box-shadow:            $input-box-shadow !default;
$custom-file-button-color:          $custom-file-color !default;
$custom-file-button-bg:             $input-group-addon-bg !default;
$custom-file-text: (
  en: "Browse"
) !default;


// Form validation

$form-feedback-margin-top:          $form-text-margin-top !default;
$form-feedback-font-size:           $small-font-size !default;
$form-feedback-valid-color:         theme-color("primary") !default;
$form-feedback-invalid-color:       theme-color("danger") !default;

$form-feedback-icon-valid-color:    $form-feedback-valid-color !default;
$form-feedback-icon-valid:          svg-load($interaction-icon-path + "hook.svg", fill=$form-feedback-icon-valid-color) !default;
$form-feedback-icon-invalid-color:  $form-feedback-invalid-color !default;
$form-feedback-icon-invalid:        svg-load($navigation-icon-path + "cross.svg", fill=$form-feedback-icon-invalid-color) !default;

$form-validation-states: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$form-validation-states: map-merge(
  (
    "valid": (
      "color": $form-feedback-valid-color,
      "icon": $form-feedback-icon-valid
    ),
    "invalid": (
      "color": $form-feedback-invalid-color,
      "icon": $form-feedback-icon-invalid
    ),
  ),
  $form-validation-states
);


// Accordions
//
// Accordion toggle button and contents.

$accordion-border-color:             phoenix-color("gray") !default;
$accordion-border-radius:            $border-radius !default;
$accordion-border-width:             $border-width !default;
$accordion-padding-x:                1rem - calculateRem($accordion-border-width) !default;
$accordion-collapse-transition:      all .35s ease, max-height .35s cubic-bezier(0, 1, 0, 1) !default;
$accordion-focus-border-color:       phoenix-color("primary") !default;
$accordion-hover-border-color:       phoenix-color("primary") !default;
$accordion-active-border-color:      phoenix-color("primary") !default;
$accordion-icon-color:               phoenix-color("gray", "darker") !default;
$accordion-icon-dimension:           $input-icon-size !default;
$accordion-icon-transition:          all .35s linear !default;
$accordion-label-height:             $input-btn-height !default;
$accordion-label-height-at-lg:       $input-btn-height-at-lg !default;
$accordion-label-color:              phoenix-color("gray", "darker") !default;
$accordion-label-focus-color:        phoenix-color("primary") !default;
$accordion-label-focus-box-shadow:   $input-btn-focus-box-shadow !default;
$accordion-label-active-color:       phoenix-color("primary") !default;
$accordion-disabled-color:           phoenix-color("gray", "base") !default;
$accordion-disabled-border-color:    phoenix-color("gray", "light") !default;
$accordion-disabled-bg-color:        phoenix-color("gray", "background") !default;


// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown:                   1000 !default;
$zindex-sticky:                     1020 !default;
$zindex-fixed:                      1030 !default;
$zindex-modal-backdrop:             1040 !default;
$zindex-modal:                      1050 !default;
$zindex-popover:                    1060 !default;
$zindex-tooltip:                    1070 !default;
$zindex-cookie-alert:               99999 !default;


// Navs

$nav-link-padding-y:                .5rem !default;
$nav-link-padding-x:                1rem !default;
$nav-link-disabled-color:           $gray-600 !default;

$nav-tabs-border-color:             $gray-300 !default;
$nav-tabs-border-width:             $border-width !default;
$nav-tabs-border-radius:            $border-radius !default;
$nav-tabs-link-hover-border-color:  $gray-200 $gray-200 $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $gray-700 !default;
$nav-tabs-link-active-bg:           $body-bg !default;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;

$nav-pills-border-radius:           $border-radius !default;
$nav-pills-link-active-color:       $component-active-color !default;
$nav-pills-link-active-bg:          $component-active-bg !default;

$nav-divider-color:                 $gray-200 !default;
$nav-divider-margin-y:              $spacer / 2 !default;


// Navbar

$navbar-padding-y:                  $spacer / 2 !default;
$navbar-padding-x:                  $spacer !default;

$navbar-nav-link-padding-x:         .5rem !default;

$navbar-brand-font-size:            $font-size-lg !default;
// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
$nav-link-height:                   $font-size-base * $line-height-base + $nav-link-padding-y * 2 !default;
$navbar-brand-height:               $navbar-brand-font-size * $line-height-base !default;
$navbar-brand-padding-y:            ($nav-link-height - $navbar-brand-height) / 2 !default;

$navbar-toggler-padding-y:          .25rem !default;
$navbar-toggler-padding-x:          .75rem !default;
$navbar-toggler-font-size:          $font-size-lg !default;
$navbar-toggler-border-radius:      $btn-border-radius !default;

$navbar-dark-color:                 rgba($white, .5) !default;
$navbar-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;
$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23") !default;
$navbar-dark-toggler-border-color:  rgba($white, .1) !default;

$navbar-light-color:                rgba($black, .5) !default;
$navbar-light-hover-color:          rgba($black, .7) !default;
$navbar-light-active-color:         rgba($black, .9) !default;
$navbar-light-disabled-color:       rgba($black, .3) !default;
$navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23") !default;
$navbar-light-toggler-border-color: rgba($black, .1) !default;

$navbar-light-brand-color:                $navbar-light-active-color !default;
$navbar-light-brand-hover-color:          $navbar-light-active-color !default;
$navbar-dark-brand-color:                 $navbar-dark-active-color !default;
$navbar-dark-brand-hover-color:           $navbar-dark-active-color !default;


// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width:                10rem !default;
$dropdown-padding-y:                .5rem !default;
$dropdown-spacer:                   .125rem !default;
$dropdown-font-size:                $font-size-base !default;
$dropdown-color:                    $body-color !default;
$dropdown-bg:                       $white !default;
$dropdown-border-color:             rgba($black, .15) !default;
$dropdown-border-radius:            $border-radius !default;
$dropdown-border-width:             $border-width !default;
$dropdown-inner-border-radius:      calc(#{$dropdown-border-radius} - #{$dropdown-border-width}) !default;
$dropdown-divider-bg:               $gray-200 !default;
$dropdown-divider-margin-y:         $nav-divider-margin-y !default;
$dropdown-box-shadow:               0 .5rem 1rem rgba($black, .175) !default;

$dropdown-link-color:               $gray-900 !default;
$dropdown-link-hover-color:         darken($gray-900, 5%) !default;
$dropdown-link-hover-bg:            $gray-100 !default;

$dropdown-link-active-color:        $component-active-color !default;
$dropdown-link-active-bg:           $component-active-bg !default;

$dropdown-link-disabled-color:      $gray-600 !default;

$dropdown-item-padding-y:           .25rem !default;
$dropdown-item-padding-x:           1.5rem !default;

$dropdown-header-color:             $gray-600 !default;


// Pagination

$pagination-padding-y:              0 !default;
$pagination-padding-x:              .5rem !default;
$pagination-padding-y-sm:           $pagination-padding-y !default;
$pagination-padding-x-sm:           $pagination-padding-x !default;
$pagination-padding-y-lg:           $pagination-padding-y !default;
$pagination-padding-x-lg:           $pagination-padding-x !default;
$pagination-line-height-lg:         calculateRem(48px) !default;
$pagination-line-height-md:         calculateRem(40px) !default;
$pagination-min-width-lg:           $pagination-line-height-lg !default;
$pagination-min-width-md:           $pagination-line-height-md !default;
$pagination-box-shadow:             $box-shadow !default;

$pagination-color:                  phoenix-color("gray", "darker") !default;
$pagination-bg:                     $white !default;
$pagination-border-width:           0 !default;
$pagination-border-color:           transparent !default;

$pagination-focus-box-shadow:       $input-btn-focus-box-shadow !default;
$pagination-focus-outline:          0 !default;

$pagination-hover-color:            $component-active-color !default;
$pagination-hover-bg:               $component-active-bg !default;
$pagination-hover-border-color:     $pagination-hover-bg !default;

$pagination-active-color:           $component-active-color !default;
$pagination-active-bg:              $component-active-bg !default;
$pagination-active-border-color:    $pagination-active-bg !default;

$pagination-disabled-color:         phoenix-color("gray", "lighter") !default;
$pagination-disabled-bg:            $white !default;
$pagination-disabled-border-color:  transparent !default;


// Jumbotron

$jumbotron-padding:                 2rem !default;
$jumbotron-color:                   null !default;
$jumbotron-bg:                      $gray-200 !default;


// Cards

$card-spacer-y:                     .5rem !default;
$card-spacer-x:                     1rem !default;
$card-border-width:                 0 !default;
$card-border-radius:                $border-radius !default;
$card-border-color:                 rgba($black, .125) !default;
$card-inner-border-radius:          calc(#{$card-border-radius} - #{($card-border-width * 1px)}) !default;
$card-title-line-height:            $headings-line-height !default;
$card-subtitle-line-height:         $headings-line-height !default;
$card-cap-bg:                       rgba($black, .06) !default;
$card-cap-color:                    null !default;
$card-color:                        null !default;
$card-link-color:                   $body-color !default;
$card-bg:                           $white !default;
$card-hover-color:                  $card-color !default;

$card-img-overlay-padding:          1rem !default;

$card-group-margin:                 $grid-gutter-width / 2 !default;
$card-deck-margin:                  $card-group-margin !default;

$card-columns-count:                3 !default;
$card-columns-gap:                  1.25rem !default;
$card-columns-margin:               $card-spacer-y * 2 !default;


// Tooltips

$tooltip-font-size:                 $font-size-sm !default;
$tooltip-max-width:                 200px !default;
$tooltip-color:                     $white !default;
$tooltip-bg:                        $black !default;
$tooltip-border-radius:             $border-radius !default;
$tooltip-opacity:                   .9 !default;
$tooltip-padding-y:                 .25rem !default;
$tooltip-padding-x:                 .5rem !default;
$tooltip-margin:                    0 !default;

$tooltip-arrow-width:               .8rem !default;
$tooltip-arrow-height:              .4rem !default;
$tooltip-arrow-color:               $tooltip-bg !default;


// Form tooltips must come after regular tooltips
$form-feedback-tooltip-padding-y:     $tooltip-padding-y !default;
$form-feedback-tooltip-padding-x:     $tooltip-padding-x !default;
$form-feedback-tooltip-font-size:     $tooltip-font-size !default;
$form-feedback-tooltip-line-height:   $line-height-base !default;
$form-feedback-tooltip-opacity:       $tooltip-opacity !default;
$form-feedback-tooltip-border-radius: $tooltip-border-radius !default;


// Toasts

$toast-max-width:                   350px !default;
$toast-padding-x:                   .75rem !default;
$toast-padding-y:                   .25rem !default;
$toast-font-size:                   .875rem !default;
$toast-color:                       null !default;
$toast-background-color:            rgba($white, .85) !default;
$toast-border-width:                1px !default;
$toast-border-color:                rgba(0, 0, 0, .1) !default;
$toast-border-radius:               .25rem !default;
$toast-box-shadow:                  0 .25rem .75rem rgba($black, .1) !default;

$toast-header-color:                $gray-600 !default;
$toast-header-background-color:     rgba($white, .85) !default;
$toast-header-border-color:         rgba(0, 0, 0, .05) !default;


// Badges

$badge-pill-padding-x:              1rem !default;
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on labels.
$badge-pill-border-radius:          10rem !default;

$badge-font-weight:                 $font-weight-bold !default;
$badge-line-height:                 1.2 !default;
$badge-padding-y:                   .25rem !default;
$badge-padding-x:                   1rem !default;
$badge-border:                      1px solid $white !default;
$badge-border-radius:               $badge-pill-border-radius !default;

$badge-transition:                  $btn-transition !default;
$badge-focus-width:                 $input-btn-focus-width !default;

$badge-addon-padding-x:              calculateRem(4px) !default;
$badge-addon-padding-y:              calculateRem(2px) !default;
$badge-addon-padding-x-lg:           calculateRem(6px) !default;
$badge-addon-padding-y-lg:           calculateRem(3px) !default;
$badge-addon-border-radius:          $badge-pill-border-radius !default;
$badge-addon-size:                   calculateRem(16px) !default;
$badge-addon-size-lg:                calculateRem(20px) !default;
$badge-addon-font-size:              calculateRem(10px) !default;


// Modals

// Padding applied to the modal body
$modal-inner-padding:               1rem !default;

$modal-dialog-margin:               .5rem !default;
$modal-dialog-margin-y-sm-up:       1.75rem !default;

$modal-title-line-height:           $line-height-base !default;

$modal-content-color:               null !default;
$modal-content-bg:                  $white !default;
$modal-content-border-color:        rgba($black, .2) !default;
$modal-content-border-width:        $border-width !default;
$modal-content-border-radius:       $border-radius-lg !default;
$modal-content-box-shadow-xs:       0 .25rem .5rem rgba($black, .5) !default;
$modal-content-box-shadow-sm-up:    0 .5rem 1rem rgba($black, .5) !default;

$modal-backdrop-bg:                 $black !default;
$modal-backdrop-opacity:            .5 !default;
$modal-header-border-color:         $border-color !default;
$modal-footer-border-color:         $modal-header-border-color !default;
$modal-header-border-width:         $modal-content-border-width !default;
$modal-footer-border-width:         $modal-header-border-width !default;
$modal-header-padding-y:            1rem !default;
$modal-header-padding-x:            1rem !default;
$modal-header-padding:              $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility

$modal-xl:                          1140px !default;
$modal-lg:                          800px !default;
$modal-md:                          500px !default;
$modal-sm:                          300px !default;

$modal-fade-transform:              translate(0, -50px) !default;
$modal-show-transform:              none !default;
$modal-transition:                  transform .3s ease-out !default;


// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y:                    1rem !default;
$alert-padding-x:                    1rem !default;
$alert-margin-bottom:                1rem !default;
$alert-border-radius:                $border-radius !default;
$alert-link-font-weight:             $font-weight-normal !default;
$alert-border-width:                 $border-width !default;
$alert-icon-margin-right:            1rem !default;
$alert-margin-top-content-with-icon: calculateRem(4px) !default;
$alert-close-focus-box-shadow:       $input-btn-focus-box-shadow !default;


// Progress bars

$progress-height:                   1rem !default;
$progress-font-size:                $font-size-base * .75 !default;
$progress-bg:                       $gray-200 !default;
$progress-border-radius:            $border-radius !default;
$progress-box-shadow:               inset 0 .1rem .1rem rgba($black, .1) !default;
$progress-bar-color:                $white !default;
$progress-bar-bg:                   theme-color("primary") !default;
$progress-bar-animation-timing:     1s linear infinite !default;
$progress-bar-transition:           width .6s ease !default;


// List group

$list-group-color:                  null !default;
$list-group-bg:                     $white !default;
$list-group-border-color:           phoenix-color("gray", "lighter") !default;
$list-group-border-width:           $border-width !default;
$list-group-border-radius:          $border-radius !default;

$list-group-item-padding-y:         .5rem !default;
$list-group-item-padding-x:         1rem !default;

$list-group-hover-bg:               $gray-100 !default;
$list-group-active-color:           $component-active-color !default;
$list-group-active-bg:              $component-active-bg !default;
$list-group-active-border-color:    $list-group-active-bg !default;

$list-group-disabled-color:         $gray-600 !default;
$list-group-disabled-bg:            $list-group-bg !default;

$list-group-action-color:           $gray-700 !default;
$list-group-action-hover-color:     $list-group-action-color !default;

$list-group-action-active-color:    $body-color !default;
$list-group-action-active-bg:       $gray-200 !default;


// Image thumbnails

$thumbnail-padding:                 .25rem !default;
$thumbnail-bg:                      $body-bg !default;
$thumbnail-border-width:            $border-width !default;
$thumbnail-border-color:            $gray-300 !default;
$thumbnail-border-radius:           $border-radius !default;
$thumbnail-box-shadow:              0 1px 2px rgba($black, .075) !default;


// Figures

$figure-caption-font-size:          90% !default;
$figure-caption-color:              $gray-600 !default;


// Breadcrumbs

$breadcrumb-padding-y:              0 !default;
$breadcrumb-padding-x:              0 !default;
$breadcrumb-item-margin-x:          .5rem !default;
$breadcrumb-item-space-new-line:    .25rem !default;

$breadcrumb-margin-bottom:          1rem !default;

$breadcrumb-bg:                     transparent !default;
$breadcrumb-link-color:             phoenix-color("gray", "darker") !default;
$breadcrumb-link-text-decoration:   none !default;
$breadcrumb-divider-color:          phoenix-color("gray", "darker") !default;
$breadcrumb-active-color:           phoenix-color("gray", "darker") !default;
$breadcrumb-divider:                svg-load($navigation-icon-path + "arrow-right.svg", fill=$breadcrumb-divider-color) !default;

$breadcrumb-border-radius:          $border-radius !default;


// Carousel

$carousel-control-color:             $white !default;
$carousel-control-width:             15% !default;
$carousel-control-opacity:           .5 !default;
$carousel-control-hover-opacity:     .9 !default;
$carousel-control-transition:        opacity .15s ease !default;

$carousel-indicator-width:           30px !default;
$carousel-indicator-height:          3px !default;
$carousel-indicator-hit-area-height: 10px !default;
$carousel-indicator-spacer:          3px !default;
$carousel-indicator-active-bg:       $white !default;
$carousel-indicator-transition:      opacity .6s ease !default;

$carousel-caption-width:             70% !default;
$carousel-caption-color:             $white !default;

$carousel-control-icon-width:        20px !default;

$carousel-control-prev-icon-bg:      svg-load($navigation-icon-path + "arrow-left.svg", fill=$carousel-control-color) !default;
$carousel-control-next-icon-bg:      svg-load($navigation-icon-path + "arrow-right.svg", fill=$carousel-control-color) !default;

$carousel-transition-duration:       .6s !default;
$carousel-transition:                transform $carousel-transition-duration ease-in-out !default; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)


// Spinners

$spinner-width:         2rem !default;
$spinner-height:        $spinner-width !default;
$spinner-border-width:  .25em !default;

$spinner-width-sm:        1rem !default;
$spinner-height-sm:       $spinner-width-sm !default;
$spinner-border-width-sm: .2em !default;


// Close

$close-size:                        1rem !default;
$close-color:                       $black !default;


// Code

$code-font-size:                    87.5% !default;
$code-color:                        $pink !default;

$kbd-padding-y:                     .2rem !default;
$kbd-padding-x:                     .4rem !default;
$kbd-font-size:                     $code-font-size !default;
$kbd-color:                         $white !default;
$kbd-bg:                            $gray-900 !default;

$pre-color:                         $gray-900 !default;
$pre-scrollable-max-height:         340px !default;


// Utilities

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
$overflows: auto, hidden !default;
$positions: static, relative, absolute, fixed, sticky !default;


// Printing

$print-page-size:                   a3 !default;
$print-body-min-width:              map-get($grid-breakpoints, "lg") !default;


// To-Top

$to-top-right:                      .5rem !default;


// Theme slider

$theme-slider-bg:                         $white !default;
$theme-slider-outer-gutter:               .5rem !default;
$theme-slider-shadow:                     $box-shadow !default;
$theme-slider-border-radius:              $card-border-radius !default;

$theme-slider-active-color:               $white !default;
$theme-slider-active-card-body-bg:        $primary !default;
$theme-slider-active-hover-color:         $white !default;

$theme-slider-card-bg:                    $white !default;
$theme-slider-card-inner-border-radius:   $theme-slider-border-radius !default;
$theme-slider-card-body-padding:          $spacer !default;
$theme-slider-card-body-bg:               phoenix-color("gray", "lightest") !default;
$theme-slider-card-line-height:           1.2 !default;

$theme-slider-subhead-font-weight:        $font-weight-normal !default;

$theme-slider-title-font-size:            $font-size-base !default;
$theme-slider-title-font-weight:          $font-weight-bold !default;
$theme-slider-title-margin-bottom:        calculateRem(4px) !default;


// Product tile

$product-tile-shadow:                     $box-shadow !default;


// Section-Head

$section-head-font-size:                    calculateRem(20px) !default;
$section-head-line-height:                  $headings-line-height !default;
$section-head-font-weight:                  $font-weight-bold !default;
$section-head-padding:                      1rem !default;
$section-head-max-width:                    60% !default;
$section-head-border-width:                 2px !default;
$section-head-border-color:                 phoenix-color("gray", "lighter") !default;
$section-head-horizontal-rule-bottom-space: calculateRem(5px) !default;


// Trustbar

$trustbar-bg:                             phoenix-color("gray", "lighter") !default;
$trustbar-color:                          $body-color !default;
$trustbar-icon-margin-right:              .5rem !default;
$trustbar-item-height-sm:                 calculateRem(56px) !default;
$trustbar-item-height-lg:                 calculateRem(64px) !default;


// Ribbon

$ribbon-margin-top:                       calculateRem(8px) !default;
$ribbon-border-radius:                    $border-radius !default;
$ribbon-max-width:                        50% !default;
$ribbon-triangle-size-sm:                 calculateRem(4px) !default;
$ribbon-triangle-size-lg:                 calculateRem(8px) !default;
$ribbon-content-padding-sm:               calculateRem(4px) !default;
$ribbon-content-padding-lg:               calculateRem(8px) !default;


// Footer

$footer-bg:                               phoenix-color("gray") !default;
$footer-color:                            $white !default;
$footer-padding-y:                        $spacer * 4 !default;
$footer-list-item-link-hover-bg:          phoenix-color("gray", "darker") !default;
$footer-seperator-border-width:           $border-width !default;
$footer-seperator-border-color:           phoenix-color("gray", "lighter") !default;


// Pricebox

$pricebox-bg:                             $white !default;
$pricebox-border:                         $border-width solid phoenix-color("gray", "light") !default;
$pricebox-font-size:                      calculateRem(12px) !default;
$pricebox-font-color:                     phoenix-color("gray", "darker") !default;
$pricebox-font-color-negative:            $white !default;

$pricebox-price-font-size:                calculateRem(20px) !default;
$pricebox-price-font-weight:              800 !default;
$pricebox-price-baseline-factor:          -.16 !default;
$pricebox-price-medium-font-size:         calculateRem(28px) !default;

$pricebox-prefix-margin-right:            calculateRem(2px) !default;
$pricebox-currency-margin-left:           calculateRem(4px) !default;
$pricebox-basic-quantity-margin-top:      calculateRem(2px) !default;
$pricebox-basic-quantity-line-height:     1.2 !default;
$pricebox-highlight-font-weight:          $font-weight-bold !default;


// Header

$header-bg:                                   $white !default;

$header-preheader-font-size:                  calculateRem(12px) !default;
$header-brand-padding-y:                      calculateRem(6px) !default;

$header-wrapper-height-md:                    calculateRem(80px) !default;
$header-wrapper-height-lg:                    calculateRem(88px) !default;
$header-wrapper-padding-x:                    .5rem !default;
$header-wrapper-divider-color:                phoenix-color("gray", "lighter") !default;
$header-wrapper-divider-height:               calculateRem(1px) !default;

$header-claim-margin-left:                    calculateRem(24px) !default;
$header-claim-color:                          phoenix-color("primary") !default;
$header-claim-line-height:                    1.2 !default;

$header-list-item-link-padding-y:             calculateRem(6px) !default;
$header-list-item-link-hover-color:           phoenix-color("gray", "lighter") !default;

$header-brandnav-link-padding:                .5rem !default;

$header-language-margin-left:                 calculateRem(24px) !default;
$header-language-link-padding-x:              1rem !default;
$header-language-link-divider-color:          phoenix-color("gray", "lighter") !default;
$header-language-link-divider-width:          calculateRem(1px) !default;
$header-language-link-divider-height:         calculateRem(12px) !default;

$header-usernavigation-link-padding-top:      1rem !default;
$header-usernavigation-link-padding-y:        $header-usernavigation-link-padding-top !default; // deprecated. Use $header-usernavigation-link-padding-top instead
$header-usernavigation-link-padding-top-md:   $header-usernavigation-link-padding-top !default;
$header-usernavigation-link-hover-color:      phoenix-color("primary") !default;
$header-usernavigation-link-width:            calculateRem(40px) !default;
$header-usernavigation-link-width-md:         calculateRem(56px) !default;
$header-usernavigation-link-width-lg:         calculateRem(64px) !default;
$header-usernavigation-badge-offset:          .5rem !default;

$header-mobile-overlay-color:                 rgba(0, 0, 0, .72) !default;
$header-mobile-overlay-transition:            all .15s linear !default;
$header-mobile-overlay-width-percentpoints:   80 !default;
$header-mobile-overlay-width:                 $header-mobile-overlay-width-percentpoints * 1% !default;

$header-navigation-burgermenu-font-size:      calculateRem(12px) !default;
$header-navigation-burgermenu-line-height:    1 !default;
$header-navigation-margin-top-mobile:         calculateRem(56px) !default;
$header-navigation-list-margin-top-mobile:    calculateRem(40px) !default;

$header-navigation-back-color:                phoenix-color("gray", "darker") !default;
$header-navigation-back-bg-color:             phoenix-color("gray", "lightest") !default;
$header-navigation-back-border-color:         phoenix-color("gray", "lighter") !default;
$header-navigation-back-border-width:         $border-width !default;
$header-navigation-back-padding-x:            $spacer !default;
$header-navigation-back-padding-y:            calculateRem(12px) !default;
$header-navigation-back-icon-discrepancy:     calculateRem(-2px) !default; // -(icon-height - font-size) / 2

$header-navigation-link-line-height:              1.2 !default;
$header-navigation-link-padding-x:                1rem !default;
$header-navigation-link-padding-y:                calculateRem(11px) !default;
$header-navigation-link-padding-y-md:             calculateRem(8px) !default;
$header-navigation-link-font-size:                $font-size-lg !default;
$header-navigation-link-indicator-height:         calculateRem(1px) !default;
$header-navigation-link-indicator-height-desktop: calculateRem(3px) !default;
$header-navigation-link-divider-color:            phoenix-color("gray", "lighter") !default;
$header-navigation-link-hover-color:              phoenix-color("gray") !default;
$header-navigation-link-active-color:             phoenix-color("primary") !default;

$header-navigation-link-icon-size:                1rem !default;

$header-navigation-burgermenu-text-color:         phoenix-color("gray", "darker") !default;
$header-navigation-burgermenu-text-hover-color:   phoenix-color("primary") !default;

$header-subnavigation-link-line-height:           1.2 !default;
$header-subnavigation-seperator:                  1px solid phoenix-color("gray", "lighter") !default;
$header-subnavigation-link-padding-x:             1rem !default;
$header-subnavigation-link-padding-x-md:          .5rem !default;
$header-subnavigation-link-padding-y:             calculateRem(14px) !default;
$header-subnavigation-link-padding-y-md:          calculateRem(6px) !default;
$header-subnavigation-link-padding-y-lg:          calculateRem(9px) !default;
$header-subnavigation-link-font-size:             $font-size-base !default;
$header-subnavigation-link-indicator-height-desktop: calculateRem(2px) !default;

$header-subnavigation-link-head-item-padding-y:   calculateRem(12px) !default;

// 3rd party configuration of hamburger menu
// https://github.com/jonsuh/hamburgers
// stylelint-disable scss/dollar-variable-default
$hamburger-padding-x:                         calculateRem(4px) 0;
$hamburger-padding-y:                         calculateRem(16px);
$hamburger-layer-width:                       calculateRem(24px);
$hamburger-layer-height:                      calculateRem(1px);
$hamburger-layer-spacing:                     calculateRem(4px);
$hamburger-layer-color:                       $header-navigation-burgermenu-text-color;
$hamburger-layer-border-radius:               0;
$hamburger-hover-opacity:                     1;
$hamburger-types:                             (squeeze);
// stylelint-enable


// Teaser

$teaser-bar-bg:                               phoenix-color("gray", "darker") !default;
$teaser-bar-bg-opacity:                       .9 !default;
$teaser-bar-color:                            $white !default;
$teaser-bar-padding:                          1rem !default;
$teaser-bar-line-height:                      $line-height-base !default;
$teaser-bar-margin-bottom:                    $teaser-bar-padding !default;

$teaser-img-hover-opacity:                    .5 !default;

$teaser-title-font-weight:                    $font-weight-bold !default;
$teaser-title-font-size:                      calculateRem(20px) !default;

$teaser-subhead-font-weight:                  $font-weight-normal !default;
$teaser-subhead-font-size:                    calculateRem(12px) !default;
$teaser-subhead-margin-bottom:                calculateRem(2px) !default;


// Popover

$popover-font-size:                           $font-size-sm !default;
$popover-padding:                             $spacer * 2 !default;
$popover-box-shadow:                          $box-shadow !default;
$popover-font-weight:                         $font-weight-normal !default;
$popover-bg-color:                            phoenix-color("gray", "background") !default;
$popover-color:                               color-yiq($popover-bg-color, $body-color, $white) !default;
$popover-border-color:                        phoenix-color("gray", "lighter") !default;
$popover-border-radius:                       $border-radius !default;
$popover-arrow-color:                         $popover-bg-color !default;
$popover-svg-arrow-color:                     $popover-arrow-color !default;
$popover-backdrop-bg-color:                   $popover-bg-color !default;


// Banner

$banner-max-width:                            calculateRem(1920px) !default;
$banner-height:                               calculateRem(184px) !default;
$banner-height-desktop:                       calculateRem(200px) !default;
$banner-width-cols:                           3 !default;
$banner-bar-bg:                               phoenix-color("gray", "darker") !default;
$banner-bar-bg-opacity:                       .9 !default;
$banner-bar-color:                            $white !default;

$banner-bar-padding:                          1rem !default;

$banner-title-font-size:                      calculateRem(20px) !default;
$banner-title-font-weight:                    $font-weight-bold !default;

$banner-subhead-font-size:                    calculateRem(12px) !default;
$banner-subhead-font-weight:                  $font-weight-normal !default;
$banner-subhead-margin-bottom:                calculateRem(2px) !default;


// Tab

$tab-background-color:                phoenix-color("gray", "lightest") !default;
$tab-background-hover-color:          $primary !default;
$tab-background-active-color:         $white !default;
$tab-border-color:                    phoenix-color("gray", "light") !default;
$tab-border-hover-color:              $primary !default;
$tab-border-active-color:             phoenix-color("gray", "light") !default;
$tab-color:                           phoenix-color("gray", "darker") !default;
$tab-color-hover:                     color-yiq($tab-background-hover-color) !default;
$tab-btn-padding:                     1rem !default;
$tab-mobile-btn-padding-x:            .5rem !default;
$tab-slider-btn-width:                2rem !default;
$tab-icon-size:                       1rem !default;
$tab-icon-path-previous:              $navigation-icon-path + "arrow-left.svg" !default;
$tab-icon-path-next:                  $navigation-icon-path + "arrow-right.svg" !default;


// Cookie Alert

$cookie-alert-overlay-background:                   rgba($black, .72) !default;
$cookie-alert-modal-background:                     $white !default;
$cookie-alert-modal-padding:                        calculateRem(16px) !default;
$cookie-alert-modal-max-width:                      calculateRem(624px) !default;
$cookie-alert-modal-color:                          phoenix-color("gray", "darker") !default;
$cookie-alert-modal-font-size:                      calculateRem(12px) !default;
$cookie-alert-modal-seperator:                      1px solid phoenix-color("gray", "lighter") !default;
$cookie-alert-modal-checkbox-discrepancy:           calculateRem(3px) !default;
$cookie-alert-modal-detail-link-icon-size:          calculateRem(16px) !default;


// Flap

$flap-border-radius:                $border-radius !default;
$flap-box-shadow:                   $box-shadow !default;
$flap-max-width:                    50% !default;
$flap-left-space:                   .5rem !default;
$flap-nose-bg:                      $primary !default;
$flap-nose-bar-height:              .5rem !default;
$flap-nose-semicircle-height:       .5rem !default;
$flap-nose-semicircle-height-lg:    .75rem !default;
$flap-font-size:                    calculateRem(12px) !default;
$flap-font-weight:                  $font-weight-bold !default;
$flap-line-height:                  100% !default;
$flap-text-align:                   center !default;
$flap-text-padding:                 .25rem .25rem .5rem !default;
$flap-text-padding-lg:              .25rem .5rem .5rem !default;


// Coupon

$coupon-border-radius:          $border-radius !default;
$coupon-bg:                     $primary !default;
$coupon-cutout-width:           1rem !default;
$coupon-cutout-width-sm:        2rem !default;
$coupon-cutout-height:          ($coupon-cutout-width / 2) !default;
$coupon-cutout-height-sm:       ($coupon-cutout-width-sm / 2) !default;
$coupon-cutout-bg-size:         10rem !default;
$coupon-content-padding:        ($coupon-cutout-height + calculateRem(2px)) calculateRem(4px) calculateRem(2px) !default;
$coupon-content-padding-sm:     ($coupon-cutout-height-sm + calculateRem(2px)) calculateRem(4px) calculateRem(2px) !default;
$coupon-content-font-size:      $pricebox-price-font-size !default;
$coupon-content-font-size-sm:   ($pricebox-price-font-size + .5rem) !default;
$coupon-content-font-size-lg:   ($pricebox-price-font-size + 1rem) !default;
$coupon-content-font-weight:    $pricebox-price-font-weight !default;
$coupon-content-line-height:    1 !default;
$coupon-content-color:          $white !default;
$coupon-text-padding:           0 calculateRem(4px) !default;
$coupon-text-height:            calculateRem(24px) !default;
$coupon-text-bg:                $mark !default;
$coupon-text-font-size:         $font-size-sm !default;
$coupon-text-color:             phoenix-color("gray", "darker") !default;


// Floating action button

$fab-btn-padding:       1rem !default;
$fab-btn-line-height:   calculateRem(24px) !default; // equal to icon size
$fab-btn-border-radius: 50% !default;
$fab-btn-box-shadow:    $box-shadow !default;
