{% include 'phoenix::icon/icon.twig' with {
    'size': 32,
    'style': 'color: red'
} %}

{% include 'phoenix::icon/icon.twig' with {
    'size': 32,
    'style': 'color: #0050AA'
} %}

{% include 'phoenix::icon/icon.twig' with {
    'size': 32,
    'style': 'color:rgba(190, 89, 29, 1)'
} %}

{% include 'phoenix::icon/icon.twig' with {
    'size': 32,
    'style': 'color:hsla(357, 92%, 47%, 1)'
} %}

{% include 'phoenix::icon/icon.twig' with {
    'class': 'text-primary'
} %}
