<h3 id="expression">Expression</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Icon</th>
            <th>Reference</th>
            <th>Icon-Path</th>
            <th>Preview</th>
        </tr>
        </thead>
        <tbody>
        <tr data-index="1">
            <td>Exclamation Circle</td>
            <td><code>#exclamation-circle</code></td>
            <td><code>assets/icons/expression/exclamation-circle.svg</code></td>
            <td>
                {% include 'phoenix::icon/icon.twig' with {
                    'size': 32,
                    'icon': 'exclamation-circle'
                } %}
            </td>
        </tr>
        <tr data-index="2">
            <td>Exclamation Triangle</td>
            <td><code>#exclamation-triangle</code></td>
            <td><code>assets/icons/expression/exclamation-triangle.svg</code></td>
            <td>
                {% include 'phoenix::icon/icon.twig' with {
                    'size': 32,
                    'icon': 'exclamation-triangle'
                } %}
            </td>
        </tr>
        <tr data-index="3">
            <td>Hook Circle</td>
            <td><code>#hook-circle</code></td>
            <td><code>assets/icons/expression/hook-circle.svg</code></td>
            <td>
                {% include 'phoenix::icon/icon.twig' with {
                    'size': 32,
                    'icon': 'hook-circle'
                } %}
            </td>
        </tr>
        <tr data-index="4">
            <td>Information Circle</td>
            <td><code>#information-circle</code></td>
            <td><code>assets/icons/expression/information-circle.svg</code></td>
            <td>
                {% include 'phoenix::icon/icon.twig' with {
                    'size': 32,
                    'icon': 'information-circle'
                } %}
            </td>
        </tr>
        </tbody>
    </table>
</div>
<h3 id="interaction">Interaction</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Icon</th>
            <th>Reference</th>
            <th>Icon-Path</th>
            <th>Preview</th>
        </tr>
        </thead>
        <tbody>
        <tr data-index="1">
            <td>Eye Close</td>
            <td><code>#eye-close</code></td>
            <td><code>assets/icons/interaction/eye-close.svg</code></td>
            <td>
                {% include 'phoenix::icon/icon.twig' with {
                    'size': 32,
                    'icon': 'eye-close'
                } %}
            </td>
        </tr>
        <tr data-index="2">
            <td>Eye Open</td>
            <td><code>#eye-open</code></td>
            <td><code>assets/icons/interaction/eye-open.svg</code></td>
            <td>
                {% include 'phoenix::icon/icon.twig' with {
                    'size': 32,
                    'icon': 'eye-open'
                } %}
            </td>
        </tr>
        <tr data-index="3">
            <td>House</td>
            <td><code>#house</code></td>
            <td><code>assets/icons/interaction/house.svg</code></td>
            <td>
                {% include 'phoenix::icon/icon.twig' with {
                    'size': 32,
                    'icon': 'house'
                } %}
            </td>
        </tr>
        <tr data-index="4">
            <td>Placeholder</td>
            <td><code>#placeholder</code></td>
            <td><code>assets/icons/interaction/placeholder.svg</code></td>
            <td>
                {% include 'phoenix::icon/icon.twig' with {
                    'size': 32,
                    'icon': 'placeholder'
                } %}
            </td>
        </tr>
        </tbody>
    </table>
</div>
<h3 id="navigation">Navigation</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Icon</th>
            <th>Reference</th>
            <th>Icon-Path</th>
            <th>Preview</th>
        </tr>
        </thead>
        <tbody>
        <tr data-index="1">
            <td>Arrow Down</td>
            <td><code>#arrow-down</code></td>
            <td><code>assets/icons/navigation/arrow-down.svg</code></td>
            <td>
                {% include 'phoenix::icon/icon.twig' with {
                    'size': 32,
                    'icon': 'arrow-down'
                } %}
            </td>
        </tr>
        <tr data-index="2">
            <td>Arrow Left</td>
            <td><code>#arrow-left</code></td>
            <td><code>assets/icons/navigation/arrow-left.svg</code></td>
            <td>
                {% include 'phoenix::icon/icon.twig' with {
                    'size': 32,
                    'icon': 'arrow-left'
                } %}
            </td>
        </tr>
        <tr data-index="3">
            <td>Arrow Right</td>
            <td><code>#arrow-right</code></td>
            <td><code>assets/icons/navigation/arrow-right.svg</code></td>
            <td>
                {% include 'phoenix::icon/icon.twig' with {
                    'size': 32,
                    'icon': 'arrow-right'
                } %}
            </td>
        </tr>
        <tr data-index="4">
            <td>Arrow Up</td>
            <td><code>#arrow-up</code></td>
            <td><code>assets/icons/navigation/arrow-up.svg</code></td>
            <td>
                {% include 'phoenix::icon/icon.twig' with {
                    'size': 32,
                    'icon': 'arrow-up'
                } %}
            </td>
        </tr>
        <tr data-index="5">
            <td>Cross</td>
            <td><code>#cross</code></td>
            <td><code>assets/icons/navigation/cross.svg</code></td>
            <td>
                {% include 'phoenix::icon/icon.twig' with {
                    'size': 32,
                    'icon': 'cross'
                } %}
            </td>
        </tr>
        </tbody>
    </table>
</div>

