$expression-icon-path: "./src/assets/icons/expression/" !default;
$interaction-icon-path: "./src/assets/icons/interaction/" !default;
$navigation-icon-path: "./src/assets/icons/navigation/" !default;
$smiley-icon-path: "./src/assets/icons/smiley/" !default;
$scss-icon-path: "./src/assets/icons/_scssOnly/" !default;
