<div class="theme-slider " data-toggle="theme-slider" data-type="bigSlider">
  <button class="btn btn-slider theme-slider-btn theme-slider-btn-prev"
          data-toggle="theme-slider-previous">
    <svg class="icon icon-16" xmlns="http://www.w3.org/2000/svg" role="img" focusable="false">
      <title>Previous Slide</title>
      <use xlink:href="images/icon__sprite.svg#arrow-left">
      </use>
    </svg>
  </button>
  <button class="btn btn-slider theme-slider-btn theme-slider-btn-next"
          data-toggle="theme-slider-next">
    <svg class="icon icon-16" xmlns="http://www.w3.org/2000/svg" role="img" focusable="false">
      <title>Next Slide</title>
      <use xlink:href="images/icon__sprite.svg#arrow-right">
      </use>
    </svg>
  </button>
  <ul class="theme-slider-slides" data-toggle="theme-slider-slides">
    <li class="theme-slider-slide ">
      <a href="#" class="card theme-slider-card">
        <img src="../../../_assets/images/examples/Marzipan-Kirsch-Streifen.jpg"
             alt="Nice cat" class="card-img-top theme-slider-card-img-top" />
        <div class="card-body theme-slider-card-body">
          <div class="card-subtitle theme-slider-card-title" title="Card subtitle">Title
          </div>
          <div class="card-subhead theme-slider-card-subhead">Subhead</div>
        </div>
      </a>
    </li>
    <li class="theme-slider-slide theme-slider-slide-active">
      <a href="#" class="card theme-slider-card">
        <img src="../../../_assets/images/examples/Backen_Ostern_CloseUp_v07_USAR.jpg"
             alt="Nice cake" class="card-img-top theme-slider-card-img-top" />
        <div class="card-body theme-slider-card-body">
          <div class="card-subtitle theme-slider-card-title" title="Card subtitle">Title
          </div>
          <div class="card-subhead theme-slider-card-subhead">Subhead</div>
        </div>
      </a>
    </li>
    <li class="theme-slider-slide ">
      <a href="#" class="card theme-slider-card">
        <img src="../../../_assets/images/examples/Orangentarte-mit-Kumquats.jpg"
             alt="Nice cake" class="card-img-top theme-slider-card-img-top" />
        <div class="card-body theme-slider-card-body">
          <div class="card-subtitle theme-slider-card-title" title="Card subtitle">Title
          </div>
          <div class="card-subhead theme-slider-card-subhead">Subhead</div>
        </div>
      </a>
    </li>
  </ul>
</div>
