<header class="header " data-controller="header">
  <div class="header-preheader container-responsive">
    <div class="header-brand d-none d-md-block">Brand</div>
    <ul class="header-brandnav header-list" data-controller="header/brandnav" role="navigation"
        aria-label="Brand Navigation">
      <li class="header-list-item ">
        <a href="#" class="header-list-item-link header-brandnav-link" aria-label>Brand-Nav
          title</a>
      </li>
      <li class="header-list-item ">
        <a href="#" class="header-list-item-link header-brandnav-link" aria-label>Brand-Nav
          title</a>
      </li>
      <li class="header-list-item ">
        <a href="#" class="header-list-item-link header-brandnav-link" aria-label>Brand-Nav
          title</a>
      </li>
      <li class="header-list-item ">
        <a href="#" class="header-list-item-link header-brandnav-link" aria-label>Brand-Nav
          title</a>
      </li>
    </ul>
    <ul class="header-language header-list" data-controller="header/language" role="navigation"
        aria-label="Language selection">
      <li class="header-list-item ">
        <a href="#" class="header-list-item-link header-language-link"
           aria-label="fully written language">
          <abbr title="fully written language">XX</abbr>
        </a>
      </li>
      <li class="header-list-item ">
        <a href="#" class="header-list-item-link header-language-link"
           aria-label="fully written language">
          <abbr title="fully written language">XX</abbr>
        </a>
      </li>
      <li class="header-list-item ">
        <a href="#" class="header-list-item-link header-language-link"
           aria-label="fully written language (selected language)">
          <abbr title="fully written language">XX</abbr>
          <span class="header-language-active-icon">
                    </span>
        </a>
      </li>
    </ul>
    <div class="header-wrapper">
      <a href="#" class="header-logo-wrapper">
        <img src="images/logo.svg" alt="Logo" class="header-logo" />
      </a>
      <div class="header-claim d-none d-md-block">Brand-Claim</div>
      <ul class="header-usernavigation header-list" role="navigation"
          aria-label="User Navigation">
        <li class="header-list-item ">
          <a href="#" class="header-list-item-link header-usernavigation-link" aria-label>
            <div class="header-usernavigation-icon">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" role="img"
                   focusable="false">
                <title>Placeholder</title>
                <use xlink:href="images/icon__sprite.svg#placeholder">
                </use>
              </svg>
            </div>
            <span class="header-usernavigation-title d-none d-md-block">Title</span>
          </a>
        </li>
        <li class="header-list-item ">
          <a href="#" class="header-list-item-link header-usernavigation-link" aria-label>
            <div class="header-usernavigation-icon">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" role="img"
                   focusable="false">
                <title>Placeholder</title>
                <use xlink:href="images/icon__sprite.svg#placeholder">
                </use>
              </svg>
            </div>
            <span class="header-usernavigation-title d-none d-md-block">Title</span>
          </a>
        </li>
        <li class="header-list-item ">
          <a href="#" class="header-list-item-link header-usernavigation-link" aria-label>
            <div class="header-usernavigation-icon">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" role="img"
                   focusable="false">
                <title>Placeholder</title>
                <use xlink:href="images/icon__sprite.svg#placeholder">
                </use>
              </svg>
            </div>
            <span class="header-usernavigation-title d-none d-md-block">Title</span>
          </a>
        </li>
        <li class="header-list-item ">
          <a href="#" class="header-list-item-link header-usernavigation-link" aria-label>
            <div class="header-usernavigation-icon">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" role="img"
                   focusable="false">
                <title>Placeholder</title>
                <use xlink:href="images/icon__sprite.svg#placeholder">
                </use>
              </svg>
            </div>
            <span class="header-usernavigation-title d-none d-md-block">Title</span>
          </a>
        </li>
        <li class="header-list-item ">
          <a href="#" class="header-list-item-link header-usernavigation-link" aria-label>
            <div class="header-usernavigation-icon">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" role="img"
                   focusable="false">
                <title>Placeholder</title>
                <use xlink:href="images/icon__sprite.svg#placeholder">
                </use>
              </svg>
              <span
                class="badge badge-addon badge-primary header-usernavigation-badge">X<span
                  class="sr-only">new item(s)</span>
                            </span>
            </div>
            <span class="header-usernavigation-title d-none d-md-block">Title</span>
          </a>
        </li>
        <li class="header-list-item ">
          <a href="#" class="header-list-item-link header-usernavigation-link" aria-label>
            <div class="header-usernavigation-icon">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" role="img"
                   focusable="false">
                <title>Placeholder</title>
                <use xlink:href="images/icon__sprite.svg#placeholder">
                </use>
              </svg>
              <span
                class="badge badge-addon badge-primary header-usernavigation-badge">XX<span
                  class="sr-only">new item(s)</span>
                            </span>
            </div>
            <span class="header-usernavigation-title d-none d-md-block">Title</span>
          </a>
        </li>
      </ul>
      <div class="header-navigation-burgermenu">
        <button class="hamburger hamburger--squeeze" data-controller="header/burgermenu"
                aria-pressed="false">
          <div class="hamburger-box">
            <div class="hamburger-inner">
            </div>
          </div>
          <div class="header-navigation-burgermenu-text">Menue</div>
        </button>
      </div>
    </div>
    <nav class="header-navigation" data-controller="header/navigation" aria-label="Main">
      <a href="#" class="header-navigation-back" data-controller="header/navigation/back">
        <svg class="icon icon-16 icon-vertical-middle header-navigation-back-icon"
             xmlns="http://www.w3.org/2000/svg" role="img" focusable="false">
          <title>Back</title>
          <use xlink:href="images/icon__sprite.svg#arrow-left">
          </use>
        </svg>Back-Function</a>
      <button
        class="btn btn-slider btn-header-navigation-slider btn-header-navigation-slider-previous"
        data-toggle="header/navigation/menu/main/slider/prev">
        <svg class="icon icon-16" xmlns="http://www.w3.org/2000/svg" role="img"
             focusable="false">
          <title>Previous Slide</title>
          <use xlink:href="images/icon__sprite.svg#arrow-left">
          </use>
        </svg>
      </button>
      <button
        class="btn btn-slider btn-header-navigation-slider btn-header-navigation-slider-next"
        data-toggle="header/navigation/menu/main/slider/next">
        <svg class="icon icon-16" xmlns="http://www.w3.org/2000/svg" role="img"
             focusable="false">
          <title>Next Slide</title>
          <use xlink:href="images/icon__sprite.svg#arrow-right">
          </use>
        </svg>
      </button>
      <ul class="header-list header-navigation-list" data-controller="header/navigation/menu"
          data-identifier="header/navigation/main" data-active="true">
        <li class="header-navigation-list-item">
          <a href="#" class="header-navigation-link"
             data-controller="header/navigation/link"
             data-target="header/navigation/main/sub1">Main-Nav title 1<svg
              class="icon header-navigation-link-icon"
              xmlns="http://www.w3.org/2000/svg" role="img" focusable="false">
              <title>Go to</title>
              <use xlink:href="images/icon__sprite.svg#arrow-right">
              </use>
            </svg>
          </a>
        </li>
        <li class="header-navigation-list-item">
          <a href="#" class="header-navigation-link"
             data-controller="header/navigation/link"
             data-target="header/navigation/main/sub2">Main-Nav title 2<svg
              class="icon header-navigation-link-icon"
              xmlns="http://www.w3.org/2000/svg" role="img" focusable="false">
              <title>Go to</title>
              <use xlink:href="images/icon__sprite.svg#arrow-right">
              </use>
            </svg>
          </a>
        </li>
        <li class="header-navigation-list-item">
          <a href="#" class="header-navigation-link"
             data-controller="header/navigation/link"
             data-target="header/navigation/main/sub3">Main-Nav title 3<svg
              class="icon header-navigation-link-icon"
              xmlns="http://www.w3.org/2000/svg" role="img" focusable="false">
              <title>Go to</title>
              <use xlink:href="images/icon__sprite.svg#arrow-right">
              </use>
            </svg>
          </a>
        </li>
        <li class="header-navigation-list-item">
          <a href="#" class="header-navigation-link"
             data-controller="header/navigation/link"
             data-target="header/navigation/main/sub4">Main-Nav title 4<svg
              class="icon header-navigation-link-icon"
              xmlns="http://www.w3.org/2000/svg" role="img" focusable="false">
              <title>Go to</title>
              <use xlink:href="images/icon__sprite.svg#arrow-right">
              </use>
            </svg>
          </a>
        </li>
        <li class="header-navigation-list-item">
          <a href="#" class="header-navigation-link"
             data-controller="header/navigation/link"
             data-target="header/navigation/main/sub5">Main-Nav title 5<svg
              class="icon header-navigation-link-icon"
              xmlns="http://www.w3.org/2000/svg" role="img" focusable="false">
              <title>Go to</title>
              <use xlink:href="images/icon__sprite.svg#arrow-right">
              </use>
            </svg>
          </a>
        </li>
        <li class="header-navigation-list-item">
          <a href="#" class="header-navigation-link"
             data-controller="header/navigation/link"
             data-target="header/navigation/main/sub3">Main-Nav title 3<svg
              class="icon header-navigation-link-icon"
              xmlns="http://www.w3.org/2000/svg" role="img" focusable="false">
              <title>Go to</title>
              <use xlink:href="images/icon__sprite.svg#arrow-right">
              </use>
            </svg>
          </a>
        </li>
        <li class="header-navigation-list-item">
          <a href="#" class="header-navigation-link"
             data-controller="header/navigation/link"
             data-target="header/navigation/main/sub4">Main-Nav title 4<svg
              class="icon header-navigation-link-icon"
              xmlns="http://www.w3.org/2000/svg" role="img" focusable="false">
              <title>Go to</title>
              <use xlink:href="images/icon__sprite.svg#arrow-right">
              </use>
            </svg>
          </a>
        </li>
        <li class="header-navigation-list-item">
          <a href="#" class="header-navigation-link"
             data-controller="header/navigation/link"
             data-target="header/navigation/main/sub5">Main-Nav title 5<svg
              class="icon header-navigation-link-icon"
              xmlns="http://www.w3.org/2000/svg" role="img" focusable="false">
              <title>Go to</title>
              <use xlink:href="images/icon__sprite.svg#arrow-right">
              </use>
            </svg>
          </a>
        </li>
        <li class="header-navigation-list-item">
          <a href="#" class="header-navigation-link"
             data-controller="header/navigation/link"
             data-target="header/navigation/main/sub3">Main-Nav title 3<svg
              class="icon header-navigation-link-icon"
              xmlns="http://www.w3.org/2000/svg" role="img" focusable="false">
              <title>Go to</title>
              <use xlink:href="images/icon__sprite.svg#arrow-right">
              </use>
            </svg>
          </a>
        </li>
        <li class="header-navigation-list-item">
          <a href="#" class="header-navigation-link"
             data-controller="header/navigation/link"
             data-target="header/navigation/main/sub4">Main-Nav title 4<svg
              class="icon header-navigation-link-icon"
              xmlns="http://www.w3.org/2000/svg" role="img" focusable="false">
              <title>Go to</title>
              <use xlink:href="images/icon__sprite.svg#arrow-right">
              </use>
            </svg>
          </a>
        </li>
        <li class="header-navigation-list-item">
          <a href="#" class="header-navigation-link"
             data-controller="header/navigation/link"
             data-target="header/navigation/main/sub5">Main-Nav title 5<svg
              class="icon header-navigation-link-icon"
              xmlns="http://www.w3.org/2000/svg" role="img" focusable="false">
              <title>Go to</title>
              <use xlink:href="images/icon__sprite.svg#arrow-right">
              </use>
            </svg>
          </a>
        </li>
      </ul>
      <button
        class="btn btn-slider btn-header-subnavigation-slider btn-header-navigation-slider-previous"
        data-toggle="header/navigation/menu/sub/slider/prev">
        <svg class="icon icon-16" xmlns="http://www.w3.org/2000/svg" role="img"
             focusable="false">
          <title>Previous Slide</title>
          <use xlink:href="images/icon__sprite.svg#arrow-left">
          </use>
        </svg>
      </button>
      <button
        class="btn btn-slider btn-header-subnavigation-slider btn-header-navigation-slider-next"
        data-toggle="header/navigation/menu/sub/slider/next">
        <svg class="icon icon-16" xmlns="http://www.w3.org/2000/svg" role="img"
             focusable="false">
          <title>Next Slide</title>
          <use xlink:href="images/icon__sprite.svg#arrow-right">
          </use>
        </svg>
      </button>
      <ul class="header-list header-subnavigation-list"
          data-controller="header/navigation/menu"
          data-identifier="header/navigation/main/sub1">
        <li class="header-subnavigation-list-item header-subnavigation-list-head-item">
          <a href="#" class="header-subnavigation-link active"
             data-controller="header/navigation/link">
            <span class="header-subnavigation-head-link">Main-Nav title 1</span>
            <span
              class="badge badge-primary badge-small ml-1 header-subnavigation-badge">Direct
                            access</span>
          </a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 1.1</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 1.2</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 1.3</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 1.4</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 1.5</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 1.6</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 1.7</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 1.8</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 1.9</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 1.10</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 1.11</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 1.12</a>
        </li>
      </ul>
      <ul class="header-list header-subnavigation-list d-none"
          data-controller="header/navigation/menu"
          data-identifier="header/navigation/main/sub2">
        <li class="header-subnavigation-list-item header-subnavigation-list-head-item">
          <a href="#" class="header-subnavigation-link active"
             data-controller="header/navigation/link">
            <span class="header-subnavigation-head-link">Main-Nav title 2</span>
            <span
              class="badge badge-primary badge-small ml-1 header-subnavigation-badge">Direct
                            access</span>
          </a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 2.1</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 2.2</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 2.3</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 2.4</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 2.5</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 2.6</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 2.7</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 2.8</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 2.9</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 2.10</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 2.11</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 2.12</a>
        </li>
      </ul>
      <ul class="header-list header-subnavigation-list d-none"
          data-controller="header/navigation/menu"
          data-identifier="header/navigation/main/sub3">
        <li class="header-subnavigation-list-item header-subnavigation-list-head-item">
          <a href="#" class="header-subnavigation-link active"
             data-controller="header/navigation/link">
            <span class="header-subnavigation-head-link">Main-Nav title 3</span>
            <span
              class="badge badge-primary badge-small ml-1 header-subnavigation-badge">Direct
                            access</span>
          </a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 3.1</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 3.2</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 3.3</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 3.4</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 3.5</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 3.6</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 3.7</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 3.8</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 3.9</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 3.10</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 3.11</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 3.12</a>
        </li>
      </ul>
      <ul class="header-list header-subnavigation-list d-none"
          data-controller="header/navigation/menu"
          data-identifier="header/navigation/main/sub4">
        <li class="header-subnavigation-list-item header-subnavigation-list-head-item">
          <a href="#" class="header-subnavigation-link active"
             data-controller="header/navigation/link">
            <span class="header-subnavigation-head-link">Main-Nav title 4</span>
            <span
              class="badge badge-primary badge-small ml-1 header-subnavigation-badge">Direct
                            access</span>
          </a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 4.1</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 4.2</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 4.3</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 4.4</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 4.5</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 4.6</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 4.7</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 4.8</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 4.9</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 4.10</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 4.11</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 4.12</a>
        </li>
      </ul>
      <ul class="header-list header-subnavigation-list d-none"
          data-controller="header/navigation/menu"
          data-identifier="header/navigation/main/sub5">
        <li class="header-subnavigation-list-item header-subnavigation-list-head-item">
          <a href="#" class="header-subnavigation-link active"
             data-controller="header/navigation/link">
            <span class="header-subnavigation-head-link">Main-Nav title 5</span>
            <span
              class="badge badge-primary badge-small ml-1 header-subnavigation-badge">Direct
                            access</span>
          </a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 5.1</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 5.2</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 5.3</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 5.4</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 5.5</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 5.6</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 5.7</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 5.8</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 5.9</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 5.10</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 5.11</a>
        </li>
        <li class="header-subnavigation-list-item">
          <a href="#" class="header-subnavigation-link"
             data-controller="header/navigation/link">Sub-Nav title 5.12</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
