<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ head_title }}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./css/styles.css">
  </head>

  <body{% if body_class is defined and body_class is not empty %} class="{{ body_class }}"{% endif %}>
    {% include '../components/header.twig' %}
    {% block page %}{% endblock %}
  </body>
</html>
