// stylelint-disable selector-no-qualifying-type, selector-class-pattern

//
// Automatically style Markdown-based tables like a CAKE `.table`.
//

.phoenix-content iframe {
  margin: 2rem;
  width: calc(100% - 4rem);
}

.phoenix-content,
.PhoenixFramework__blockquote {
  order: 1;

  // Hack the sticky header
  > h2,
  > h3,
  > h4 {
    pointer-events: none;

    > div,
    > a {
      pointer-events: auto;
    }
  }

  .PhoenixFramework__Headline_Hidden_Anchor {
    position: relative;
    top: -10rem;
    display: block;
    visibility: hidden;
  }

  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    > .PhoenixFramework__Headline_Content {
      > .PhoenixFramework__Headline_Anchor {
        display: inline-block;
        padding-right: .25rem;
        padding-left: .25rem;
        margin-left: .25rem;
        color: phoenix-color("primary", "light");
        text-decoration: inherit;
        opacity: 0;
        @include transition(opacity 200ms linear, color 200ms linear);

        &:hover,
        &:focus {
          color: phoenix-color("primary");
          opacity: 1;
        }
      }

      &:hover > .PhoenixFramework__Headline_Anchor {
        opacity: 1;
      }
    }
  }

  > h2 {
    @extend .h3;

    margin-top: 2rem;
    @include media-breakpoint-up(lg) {
      margin-top: 4rem;
    }
  }
  > h3 {
    @extend .h5;

    margin-top: 1rem;
    @include media-breakpoint-up(lg) {
      margin-top: 2rem;
    }

  }
  > h4 {
    @include font-size($font-size-base);

    margin-top: .5rem;
    @include media-breakpoint-up(lg) {
      margin-top: 1rem;
    }
  }

  > ul,
  > ol {
    margin-top: .5rem;
    margin-bottom: 1rem;
    @include media-breakpoint-up(lg) {
      margin-bottom: 2rem;
    }
  }

  //
  // Docs sections
  //

  > ul li,
  > ol li {
    margin-top: 1rem;
    @include media-breakpoint-up(lg) {
      margin-top: .5rem;
    }
    margin-bottom: .25rem;
  }

  // External links
  a[data-external-icon] {
    margin-right: .25rem;

    &::after {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      padding-right: 1em;
      margin-bottom: calculateRem(-1px);
      margin-left: .25rem;
      content: "";
      background-image: svg-load($scss-icon-path + "external-link.svg", fill=$link-color);
      background-repeat: no-repeat;
    }

    &:hover,
    &:focus {
      &::after {
        background-image: svg-load($scss-icon-path + "external-link.svg", fill=$link-hover-color);
      }
    }
    &:active::after {
      background-image: svg-load($scss-icon-path + "external-link.svg", fill=$link-active-color);
    }
  }
}

.phoenix-title {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: 300;

  @include media-breakpoint-up(sm) {
    font-size: 3rem;
  }
}

.phoenix-lead {
  font-size: 1.125rem;
  font-weight: 300;

  @include media-breakpoint-up(sm) {
    max-width: 80%;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}

.phoenix-text-purple { color: $bd-purple; }
.phoenix-text-purple-bright { color: $bd-purple-bright; }
