// stylelint-disable selector-no-qualifying-type, selector-class-pattern

// extendent utility classes icon-*
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $size in (1, 2, 3, 4) {
      $name: $size * 8;
      .icon#{$infix}-#{$name} {
        width: map-get($spacers, $size) !important;
        height: map-get($spacers, $size) !important;
      }
    }
  }
}

.PhoenixFramework__Layout {
  @include make-container();
  position: relative;
  margin-top: $showroom-header-height;

  @include media-breakpoint-up(md) {
    margin-top: $showroom-header-height-md;
  }
}

.PhoenixFramework__CodeSection {
  display: none;
}

.PhoenixFramework__CodeSectionCheckbox {
  display: none;

  &:checked + .PhoenixFramework__CodeSection {
    display: block;
  }
}

.PhoenixFramework__Pre {
  margin: 0;
}

.PhoenixFramework__JSIndicator {
  margin-bottom: 0;
}

.PhoenixFramework__SiteHeadline {
  margin: 0;
}

.PhoenixFramework__Header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: $showroom-header-height;
  padding: 0;
  background-color: $white;
  box-shadow: $box-shadow;

  @include media-breakpoint-up(md) {
    height: $showroom-header-height-md;
  }
}

.PhoenixFramework__Header__Inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: map-get($container-max-widths, lg);
  height: 100%;
  padding-right: .5rem;
  padding-left: .5rem;
  margin-right: auto;
  margin-left: auto;
}

.PhoenixFramework__Header__Brand {
  display: flex;
}

.PhoenixFramework__HeaderImage {
  display: inline-block;
  align-self: center;
  width: auto;
  height: 2rem;

  @include media-breakpoint-up(md) {
    width: auto;
    height: 3rem;
  }
}

.PhoenixFramework__HeaderVersionTag {
  margin-left: 1rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 1.5rem;
  }
}

.PhoenixFramework__Header__MainNav {
  display: flex;
  height: $showroom-header-main-nav-height;
  color: phoenix-color("primary");

  @include media-breakpoint-down(sm) {
    position: fixed;
    top: $showroom-header-height;
    right: 0;
    left: 0;
    justify-content: flex-end;
    background-color: $white;
    border-top: 1px solid phoenix-color("primary", "lighter");
    box-shadow: $box-shadow;

    &:not([aria-expanded="true"]) {
      display: none;
    }
  }
  @include media-breakpoint-up(md) {
    height: $showroom-header-main-nav-height-md;
    margin-right: -.5rem;
  }
}

.PhoenixFramework__Header__MainNav__Link {
  @include reset-link();
  display: inline-block;
  font-size: calculateRem(18px);
  line-height: calc(#{$showroom-header-main-nav-height} - 2px);
  border-bottom: 2px solid transparent;

  &:hover {
    color: phoenix-color("gray", "light");
  }
  &.active {
    color: phoenix-color("primary", "darker");
    border-bottom-color: phoenix-color("primary", "darker");
  }

  @include media-breakpoint-up(md) {
    line-height: calc(#{$showroom-header-main-nav-height-md} - 2px);
  }
}

.PhoenixFramework__Header__MainNavMobilMenu {
  display: inline-block;
  padding: 0;
  line-height: calc(#{$showroom-header-height} - 1px);
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid transparent;

  &[aria-pressed="true"] {
    color: phoenix-color("primary", "darker");
    border-bottom-color: phoenix-color("primary", "darker");
  }
}

.PhoenixFramework__Header__BurgerMenu {
  padding: 0 .5rem;
  line-height: $showroom-header-height;
}

.PhoenixFramework__Content {
  @include make-col-ready();
  @include make-col(12);
  @include media-breakpoint-up(md) {
    @include make-col(9);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(10);
  }
  padding: 0;
}

.PhoenixFramework__MainInner {
  height: 100%;
  min-height: calc(100vh - #{$showroom-header-height});
  padding: 1rem;
  background-color: $body-bg;

  @include media-breakpoint-up(md) {
    min-height: calc(100vh - #{$showroom-header-height-md});
  }
}

.PhoenixFramework__SectionHeadline{
  @include clearfix();
  margin: 0;
  border-bottom: 2px solid;
}

.PhoenixFramework__Headline {
  margin-bottom: map-get($spacers, 2);
  border-bottom: 2px solid;
}

.PhoenixFramework__Dropdown {
  position: relative;
  display: inline-block;
}

.PhoenixFramework__Dropdown_Content {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  padding: $spacer;
  font-size: $font-size-base;
  background-color: phoenix-color("gray", "background");
  box-shadow: $box-shadow;
}

.nav-item__preview {
  position: absolute;
  top: 0;
  right: 100%;
  display: none;
  width: 500px;
  height: 350px;
}

@include media-breakpoint-up(md) {
  .dropdown-item:hover .nav-item__preview {
    display: block;
  }
}

.PhoenixFramework__Dropdown:hover .PhoenixFramework__Dropdown_Content {
  display: block;
}

.nav-link.active {
  background-color: phoenix-color("gray", "lighter");
}

.PhoenixFramework__blockquote {
  padding-left: 1rem;
  border-left: .5rem solid $primary;
}

.PhoenixFramework__Footer {
  padding: calculateRem(16px);
  color: $white;
  text-align: center;
  background-color: phoenix-color("gray");
  @include phoenix-font-size(14px);

  a {
    margin-right: calculateRem(8px);
    margin-left: calculateRem(8px);
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .PhoenixFramework__Footer_Link {
    display: inline-block;
    padding: calculateRem(10px);
  }

  .PhoenixFramework__Footer_Copy {
    display: block;
    margin-top: map-get($spacers, 1);
    margin-bottom: map-get($spacers, 1);
    font-size: calculateRem(14px);
    text-align: center;
  }
}

//* *********************** */
//*       OVERLAY BG        */
//* *********************** */

.PhoenixFramework__Header__OverlayBackground {
  position: fixed;
  background-color: rgba(0, 0, 0, .6);

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.PhoenixFramework__Header__MainNavMobilMenu[aria-pressed="true"] ~ .PhoenixFramework__Header__OverlayBackground,
.PhoenixFramework__Header__ProductNavMobilMenu[aria-pressed="true"] ~ .PhoenixFramework__Header__OverlayBackground {
  top: $showroom-header-overlay-background-top-with-section-product;
  right: 0;
  bottom: 0;
  left: 0;
}
.PhoenixFramework__Header__BurgerMenu[aria-pressed="true"] ~ .PhoenixFramework__Header__OverlayBackground {
  top: $showroom-header-height;
  right: $showroom-side-nav-width-down-sm;
  bottom: 0;
  left: 0;
}

//* *********************** */
//*    SIDE-NAVIGATION      */
//* *********************** */

.PhoenixFramework__SideNav {
  @include make-col-ready();
  @include media-breakpoint-down(sm) {
    display: none;

    &[aria-expanded="true"] {
      position: absolute;
      z-index: 1;
      display: block;
    }
  }
  @include media-breakpoint-up(md) {
    @include make-col(3);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(2);
  }
  padding: 0;
}

.PhoenixFramework__SideNav__Scroll {
  @include make-col-ready();
  @include media-breakpoint-up(md) {
    @include make-col(3);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(2);
  }
  position: fixed;
  top: $showroom-header-height;
  bottom: 0;
  padding: 0;
  overflow-y: auto;

  @include media-breakpoint-down(sm) {
    right: 0;
    max-width: $showroom-side-nav-width-down-sm;
    background-color: $white;
    border-left: 1px solid phoenix-color("primary", "light");
  }

  @include media-breakpoint-up(md) {
    top: $showroom-header-height-md;
    left: 0;
  }

  @include media-breakpoint-up(lg) {
    left: calc((100% - #{map-get($container-max-widths, lg)}) / 2);
    width: (map-get($container-max-widths, lg) / 12) * 2;
  }
}

.PhoenixFramework__SideNav__List {
  @extend .nav;
  @extend .flex-column;
}

.PhoenixFramework__SideNav__Link {
  @include reset-link();
  padding-top: $spacer * .5;
  padding-bottom: $spacer * .5;

  &:hover,
  &:focus {
    color: phoenix-color("gray", "light");
  }

  &.active {
    font-weight: $font-weight-bold;
  }
}

.PhoenixFramework__SideNav__Section {
  padding-top: $spacer * 4;
  padding-bottom: $spacer * 4;

  &:not(:last-child) {
    border-bottom: calculateRem(1px) solid phoenix-color("gray", "light");
  }
}

.PhoenixFramework__SideNav__Section__Title {
  @extend .h4;
  padding-top: $spacer;
  padding-bottom: $spacer;
  margin-bottom: $spacer;
  margin-left: $spacer * 2;
}

.PhoenixFramework__SideNav__Section__List {
  padding-right: $spacer * 2;
  margin-left: $spacer * 2;
}

.PhoenixFramework__SideNav__Section__List__Item {
  margin-bottom: $spacer;
}

.PhoenixFramework__SideNav__Section__List__Item__AnchorList {
  position: relative;
  padding-top: $spacer;
  margin-top: $spacer;
  margin-left: $spacer * 3;

  &::after {
    position: absolute;
    top: 0;
    left: -$spacer * 2;
    width: calculateRem(3px);
    height: 100%;
    content: "";
    background-color: phoenix-color("gray", "lightest");
  }
}

.PhoenixFramework__SideNav__Section__List__Item__AnchorList_Item {
  margin-bottom: $spacer;
}

.PhoenixFramework__SideNav__Section__List__Item__AnchorList_Item_Link {
  position: relative;

  &.active {
    font-weight: inherit;
    color: phoenix-color("primary");

    &::after {
      position: absolute;
      top: 10%;
      left: -$spacer * 2;
      z-index: 2;
      width: calculateRem(3px);
      height: 80%;
      content: "";
      background-color: phoenix-color("primary");
    }
  }
}

//* *********************** */
//*       CI SELECTOR       */
//* *********************** */

.phoenix-ci-selector-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;

  > .container-responsive {
    position: relative;
  }
}

.phoenix-ci-selector {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  box-shadow: $box-shadow;
}

.phoenix-ci-selector-switch {
  .btn {
    font-weight: $font-weight-normal;
    color: $white;
    text-transform: none;
    background-color: phoenix-color("primary", "darker");
    border-color: phoenix-color("primary", "darker");
  }
}

.phoenix-ci-selector-open-check {
  display: none;

  &:checked + .phoenix-ci-selector-inner-wrapper {
    .phoenix-ci-selector-hidden-on-close {
      display: none;
    }

    .phoenix-ci-selector-switch {
      & > .btn {
        @extend .btn-secondary;
        padding-top: calculateRem(11px);
        padding-bottom: calculateRem(11px);
        background-color: $white;
        border-color: $white;

        .btn-icon {
          margin: 0;
        }

        &:hover,
        &:focus {
          background-color: phoenix-color("primary", "base");
          border-color: phoenix-color("primary", "base");
        }
      }
    }
  }

  &:not(:checked) + .phoenix-ci-selector-inner-wrapper {
    .phoenix-ci-selector-switch > .btn {
      @include border-bottom-radius(0);
    }
  }
}

.phoenix-ci-selector-theme {
  & > .btn {
    color: phoenix-color("primary", "base");

    &,
    &:not(:disabled):not(.disabled):active,
    &:hover,
    &:focus {
      display: flex;
      font-weight: $font-weight-normal;
      text-transform: none;
      background-color: $white;
      border-color: $white;
      border-bottom-color: phoenix-color("primary", "light");
    }
  }

  .phoenix-ci-selector-theme-name {
    flex: 1 0 auto;
    text-align: left;
  }

  .phoenix-ci-selector-theme-icon {
    display: none;
    flex: 0 1 auto;
    color: phoenix-color("primary", "darker");
  }

  input[type="radio"] {
    display: none;

    &:checked + .btn {
      color: phoenix-color("primary", "darker");

      .phoenix-ci-selector-theme-icon {
        display: inline-block;
      }
    }
  }

  & > .btn,
  & input[type="radio"]:checked + .btn {
    &:not(:disabled):not(.disabled):active,
    &:hover,
    &:focus {
      color: phoenix-color("primary", "light");
    }
  }
}


//* *********************** */
//*        Something        */
//* *********************** */

@keyframes srMoveInOut {
  0% {
    opacity: 0;
    transform: translateX(200%);
  }
  10%,
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.something {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: $something-width;
  height: $something-height;
  pointer-events: none;
  background-image: url("../images/waving_m.svg");
  background-repeat: no-repeat;
  background-position: center 0%;
  background-size: 100%;
  transform: translateX(200%);

  animation-name: srMoveInOut;
  animation-duration: 4000ms;
  animation-play-state: paused;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-fill-mode: forwards;

  &.now {
    animation-play-state: running;
  }

  .bubble-wrapper {
    position: absolute;
    right: 0;
    bottom: $something-height + $something-bubble-margin;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 200%;
    max-width: 100vw;
    padding: 0 10px;
  }

  .bubble {
    padding: 16px;
    background-color: $white;
    border: solid 3px $gray-800;
    @include border-radius(30px);
  }
}

@keyframes srThrough {
  0% { left: 0%; }
  20%,
  80% { left: 50%; }
  100% { left: 100%; }
}

@keyframes srHover {
  0% { transform: translateY(50px); }
  100% { transform: translateY(30px); }
}

@keyframes srRoll {
  0%,
  20%,
  60% { transform: rotateZ(360deg) translateY(20px); }
  80%,
  100% { transform: rotateZ(0deg) translateY(20px); }
}

.break {
  position: fixed;
  top: 50%;
  left: -100px;
  z-index: 9999;
  width: calc(100% + 200px);
  height: 1px;
  pointer-events: none;

  .little-m {
    position: absolute;
    width: 1px;
    height: 1px;

    animation-name: srThrough, srHover;
    animation-duration: $break-duration, ($break-duration / $break-hover-count);
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-delay: $break-delay;
    animation-iteration-count: 1, $break-hover-count;
    animation-direction: normal, alternate;
    animation-fill-mode: forwards, none;

    &::before {
      position: absolute;
      bottom: -19px;
      left: -70px;
      z-index: 0;
      display: block;
      width: 140px;
      height: 69px;
      content: "";
      background-image: url("../images/cloud.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100%;
    }

    &::after {
      position: absolute;
      top: -135px - 20px;
      left: -40px;
      z-index: 1;
      display: block;
      width: 80px;
      height: 135px;
      content: "";
      background-image: url("../images/character_m.svg");
      background-repeat: no-repeat;
      background-size: 100%;

      animation-name: srRoll;
      animation-duration: $break-duration;
      animation-play-state: running;
      animation-timing-function: ease-in-out;
      animation-delay: $break-delay;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: none;
    }
  }
}

.phoenix-example-iframe {
  width: 100%;
  border: 0;
}

