// stylelint-disable scss/dollar-variable-default

// Local docs variables
$bd-purple:        #563d7c !default;
$bd-purple-bright: lighten(saturate($bd-purple, 5%), 15%) !default;
$bd-purple-light:  lighten(saturate($bd-purple, 5%), 45%) !default;
$bd-dark:          #2a2730 !default;
$bd-download:      #ffe484 !default;
$bd-info:          #5bc0de !default;
$bd-warning:       #f0ad4e !default;
$bd-danger:        #d9534f !default;

// Color system


$primary:     #565656;
$success:     #3f7654;
$info:        #1c528f;
$warning:     #d65c18;
$danger:      #b82229;
$gray:        $primary;

$theme-colors: (
  "primary":    $primary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "gray":       $gray
);

// Adjust the icon-paths (the webpack.config.js is the root folder)
// needed for base64 encoded icons in css
$scss-icon-path:            "showroom/assets/icons/";

// Links
//
// Style anchor elements.

$link-color:                              theme-color("info");
$link-hover-color:                        phoenix-color("info", "darker");
$link-active-color:                       phoenix-color("info", "darker");

// Typography
//
// Font, line-height, and color for body text, headings, and more.
// stylelint-disable value-keyword-case, indentation
$fonts-to-load: Roboto roboto-v19-latin-regular,
                Roboto roboto-v19-latin-700 700;

$font-family-sans-serif:      Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// stylelint-enable value-keyword-case, indentation

$font-weight-bold:          700;

$lead-font-size:            calculateRem(24px);
$lead-font-weight:          400;

// Showroom Header
$showroom-header-height: calculateRem(48px);
$showroom-header-height-md: calculateRem(96px);
$showroom-negative-bg-color: $black;
$showroom-header-product-nav-height: calculateRem(64px);
$showroom-header-product-nav-height-md: calculateRem(32px);
$showroom-header-main-nav-height: calculateRem(64px);
$showroom-header-main-nav-height-md: calculateRem(120px);
$showroom-header-overlay-background-top-with-section-product: $showroom-header-height + $showroom-header-product-nav-height;

$showroom-side-nav-width-down-sm: calculateRem(256px);

// Something special
$something-height:           276px;
$something-width:            200px;
$something-bubble-margin:    5px;

$break-delay: 1800s;
$break-duration: 4000ms;
$break-hover-count: 4;
