@import "../../../phoenix/scss/functions";
@import "../../../phoenix/scss/variables-root";
@import "variables";
@import "../../../phoenix/scss/variables";
@import "../../../phoenix/scss/mixins";

$shadowHeight: .25rem !default;

//
// Grid examples
//

.phoenix-example-row {
  .row {
    > .col,
    > [class^="col-"] {
      padding-top: .75rem;
      padding-bottom: .75rem;
      background-color: rgba(86, 61, 124, .15);
      border: 1px solid rgba(86, 61, 124, .2);
    }
  }

  .row + .row {
    margin-top: 1rem;
  }

  .flex-items-top,
  .flex-items-middle,
  .flex-items-bottom {
    min-height: 6rem;
    background-color: rgba(255, 0, 0, .1);
  }
}

.phoenix-example-row-flex-cols .row {
  min-height: 10rem;
  background-color: rgba(255, 0, 0, .1);
}

// Grid mixins
.example-container {
  @include make-container();
}

.example-row {
  @include make-row();
}

.example-content-main {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }

  @include media-breakpoint-up(lg) {
    @include make-col(8);
  }
}

.example-content-secondary {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }

  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }
}


//
// Container illustrations
//

.phoenix-example-container {
  margin-right: auto;
  margin-left: auto;
}

.phoenix-example-container-header {
  height: 3rem;
  margin-bottom: .5rem;
  background-color: phoenix-color("primary");
  @include border-radius(.25rem);
}

.phoenix-example-container-sidebar {
  float: right;
  width: 4rem;
  height: 8rem;
  background-color: phoenix-color("primary", "light");
  @include border-radius(.25rem);
}

.phoenix-example-container-body {
  height: 8rem;
  margin-right: 4.5rem;
  background-color: phoenix-color("primary", "lighter");
  @include border-radius(.25rem);
}

.phoenix-example-container-fluid {
  max-width: none;
}

.phoenix-example-container-responsive {
  max-width: none;
}


//
// Docs examples
//

.phoenix-example {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: $font-family-sans-serif;
  // padding: 1rem;
  // margin: 1rem (-$grid-gutter-width / 2) 0;
  // border: solid $gray-100;
  // border-width: .2rem 0 0;
  @include clearfix();

  // @include media-breakpoint-up(sm) {
  //   padding: 1.5rem;
  //   margin-right: 0;
  //   margin-left: 0;
  //   border-width: .2rem;
  // }

  + .highlight,
  + .clipboard + .highlight {
    margin-top: 0;
  }

  + p {
    margin-top: 2rem;
  }

  .pos-f-t {
    position: relative;
    margin: -1rem;

    @include media-breakpoint-up(sm) {
      margin: -1.5rem;
    }
  }

  .custom-file-input:lang(es) ~ .custom-file-label::after {
    content: "Elegir";
  }

  > .form-control {
    + .form-control {
      margin-top: .5rem;
    }
  }

  > .nav + .nav,
  > .alert + .alert,
  > .navbar + .navbar,
  > .progress + .progress,
  > .progress + .btn {
    margin-top: 1rem;
  }

  > .dropdown-menu:first-child {
    position: static;
    display: block;
  }

  > .form-group:last-child {
    margin-bottom: 0;
  }

  > .close {
    float: none;
  }
}

// cutted borders/shadow fix
.phoenix-example-cutted-border-fix {
  padding-top: .0625rem;
  padding-bottom: .0625rem;
}

.phoenix-example-cutted-focus-and-border-fix {
  padding: ($input-btn-focus-width + .0625rem) $input-btn-focus-width;
}

.phoenix-example-cutted-shadow-fix {
  padding-bottom: $shadowHeight;
}

.phoenix-example-cuttet-ribbon-fix {
  padding-right: .25rem;
}

.phoenix-example-border-utils {
  [class^="border"] {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: .25rem;
    background-color: #fcfcf5;
  }
}

.phoenix-example-border-utils-0 {
  [class^="border"] {
    border: 1px solid $border-color;
  }
}

// Tab
.phoenix-example-tab-content {
  text-align: center;
  counter-reset: tab-nr;

  .tab-content {
    position: relative;
    padding: $spacer * 4;
    margin-top: $spacer * 2;
    counter-increment: tab-nr;
    background-color: phoenix-color("gray", "background");
    border: 2px solid phoenix-color("gray", "light");
    @include border-radius(calculateRem(2px));

    &::before {
      position: absolute;
      top: $spacer;
      right: $spacer;
      margin-right: $spacer;
      color: phoenix-color("gray");
      content: "Tab-Content No. " counter(tab-nr);
      @include font-size ($font-size-sm);
    }

    &.hidden {
      position: fixed;
      left: 100%;
      max-height: 0;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
    }
  }
}

// Popover
.phoenix-example-popover {

  > abbr {
    display: inline-block;
    padding: .2rem;
    margin-left: $spacer;
    white-space: nowrap;
    @include border-radius(5rem);
  }
}

//
// Ribbon
//

.phoenix-example-ribbon {
  padding-bottom: .5rem;

  .ribbon {
    position: relative;
    right: auto;
    left: auto;
  }
}

//
// Flap
//

.phoenix-example-flap {
  padding-bottom: $shadowHeight;

  .flap {
    position: relative;
    display: inline-block;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  user-select: none;
}

.bd-placeholder-img-lg {
  font-size: 3.5rem;
}

.phoenix-example-bg-gradient {
  height: 30vh;
  min-height: 100px;
  max-height: 350px;
}

.phoenix-example-negative {
  padding: map-get($spacers, 2);
  margin-bottom: map-get($spacers, 4);
  color: $white;
  background-color: $showroom-negative-bg-color;
}
