// stylelint-disable selector-class-pattern

@import "../../../phoenix/scss/functions";
@import "../../../phoenix/scss/variables-root";
@import "variables";
@import "../../../phoenix/scss/variables";
@import "../../../phoenix/scss/mixins";
@import "../../../phoenix/scss/root";
@import "../../../phoenix/scss/reboot";
@import "../../../phoenix/scss/typography-font-face";
@import "../../../phoenix/scss/typography";
// @import "../../../phoenix/scss/image";
// @import "../../../phoenix/scss/code";
@import "../../../phoenix/scss/grid";
// @import "../../../phoenix/scss/table";
// @import "../../../phoenix/scss/form";
@import "../../../phoenix/scss/button";
// @import "../../../phoenix/scss/transition";
// @import "../../../phoenix/scss/dropdown";
// @import "../../../phoenix/scss/button-group";
// @import "../../../phoenix/scss/input-group";
// @import "../../../phoenix/scss/custom-form";
// @import "../../../phoenix/scss/nav";
// @import "../../../phoenix/scss/navbar";
// @import "../../../phoenix/scss/card";
// @import "../../../phoenix/scss/breadcrumb";
// @import "../../../phoenix/scss/pagination";
// @import "../../../phoenix/scss/badge";
// @import "../../../phoenix/scss/jumbotron";
// @import "../../../phoenix/scss/alert";
// @import "../../../phoenix/scss/progress";
// @import "../../../phoenix/scss/media";
// @import "../../../phoenix/scss/list-group";
// @import "../../../phoenix/scss/close";
// @import "../../../phoenix/scss/modal";
// @import "../../../phoenix/scss/tooltip";
// @import "../../../phoenix/scss/popover";
// @import "../../../phoenix/scss/carousel";
// 3rd party for CAKE components
// @import "~tiny-slider/src/tiny-slider.scss";
// @import "~hamburgers/_sass/hamburgers/hamburgers";

@import "../../../phoenix/scss/icon";
// @import "../../../phoenix/scss/accordion";
// @import "../../../phoenix/scss/banner";
// @import "../../../phoenix/scss/footer";
// @import "../../../phoenix/scss/header";
// @import "../../../phoenix/scss/popover";
// @import "../../../phoenix/scss/pricebox";
// @import "../../../phoenix/scss/product-tile";
// @import "../../../phoenix/scss/ribbon";
// @import "../../../phoenix/scss/tab";
// @import "../../../phoenix/scss/teaser";
// @import "../../../phoenix/scss/theme-slider"; // required: tiny-slider
// @import "../../../phoenix/scss/to-top";
// @import "../../../phoenix/scss/trustbar";
// @import "../../../phoenix/scss/section-head";
@import "../../../phoenix/scss/utilities";
// @import "../../../phoenix/scss/print";

h1 {
  font-size: calculateRem(34px);
}

.home-banner {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: $white;
  background-image: url("../images/home-banner.svg");
  background-repeat: no-repeat;

  @include media-breakpoint-up(xs, $orientation: portrait) {
    display: flex;
    flex-direction: column;
    background-position: center 60%;
    background-size: 130%;
  }

  @include media-breakpoint-up(lg, $orientation: portrait) {
    padding-top: 9vh;
    background-position: center 55%;
    background-size: 90%;
  }

  @include media-breakpoint-down(sm, $orientation: landscape) {
    background-position: -24% 28%;
    background-size: 67%;
  }

  @include media-breakpoint-up(md, $orientation: landscape) {
    background-position: calculateRem(40px) center;
    background-size: 80%;
  }
}

.home-banner-row {
  flex: 0 1 100%;

  @include media-breakpoint-up(xs, $orientation: portrait) {
    @include make-row;
    flex: 1 1 auto;
    flex-direction: column;
  }
}

.home-banner-intro {
  @include make-col-ready;

  h1 {
    padding-top: 10vh;

    @include media-breakpoint-up(lg) {
      font-size: calculateRem(68px);
    }

    @include media-breakpoint-up(md, $orientation: landscape) {
      margin-bottom: 1rem;
    }
  }

  @include media-breakpoint-down(sm) {
    h1 {
      margin-bottom: 2vh;
    }

    .lead {
      font-size: 1rem;
    }
  }

  @include media-breakpoint-up(xs, $orientation: portrait) {
    @include make-col(12);
    text-align: center;
  }

  @include media-breakpoint-up(sm, $orientation: portrait) {
    @include make-col-offset(3);
    @include make-col(6);
  }

  @include media-breakpoint-up(xs, $orientation: portrait) {
    flex: 1 0 auto;
  }

  @include media-breakpoint-up(xs, $orientation: landscape) {
    @include make-col-offset(6);
    @include make-col(6);
  }

  @include media-breakpoint-up(md, $orientation: landscape) {
    @include make-col-offset(8);
    @include make-col(3);

    .lead {
      font-size: calculateRem(18px);
    }
  }
}

.home-banner-buttons {
  @include make-col-ready;

  @include media-breakpoint-up(xs, $orientation: portrait) {
    @include make-col(12);
    flex-basis: auto;
    margin-bottom: 4vh;
  }

  @include media-breakpoint-up(sm, $orientation: portrait) {
    @include make-col-offset(3);
    @include make-col(6);
    flex-basis: auto;
  }

  @include media-breakpoint-up(xs, $orientation: landscape) {
    @include make-col-offset(6);
    @include make-col(6);
  }

  @include media-breakpoint-up(md, $orientation: landscape) {
    @include make-col-offset(8);
    @include make-col(3);
    flex: 0 1 auto;
  }
}

.home-develop {
  display: block;
}

.home-develop {
  margin-top: 1rem;
}
