{% set accordionContent %}
    {% block items %}
        {% embed 'phoenix::accordion/accordion-item.twig' %}{% endembed %}
    {% endblock %}
{% endset %}

{% if type is not defined %}
    {% set type = 'checkbox' %}
{% endif %}

{% set accordionId = uniqueId() %}

<div class="accordion" id="accordion-{{ accordionId }}">
    {% block content %}
        {{ accordionContent|replace({'###TYPE###': type, '###ACCORDION_ID###': accordionId }) }}
    {% endblock %}
</div>


