{% set inputId = uniqueId() %}
{% set labelId = uniqueId() %}
{% set contentId = uniqueId() %}

{% if checked is not defined %}
    {% set checked = '' %}
{% else %}
    {% set checked = ' checked' %}
{% endif %}
<div class="accordion-item">
    <input type="###TYPE###" data-toggle="accrodion-collapse" class="accordion-check sr-only"
           id="{{ inputId }}" name="accordion-###ACCORDION_ID###"{{ checked }} />
    <label type="button" class="accordion-label" for="{{ inputId }}" id="{{ labelId }}"
           data-target="#{{ contentId }}" aria-expanded="false" aria-controls="{{ contentId }}">
        <h5 class="accordion-item-header">{% block header %}Collapsible Group Item{% endblock %}</h5>
        <svg class="icon accordion-icon" xmlns="http://www.w3.org/2000/svg" role="img"
             focusable="false">
            <title>Expand</title>
            <use xlink:href="/assets/images/icon__sprite.svg#arrow-down">
            </use>
        </svg>
    </label>
    <div id="{{ contentId }}" class="accordion-collapse" aria-labelledby="{{ labelId }}"
         data-parent="#accordion-###ACCORDION_ID###">
        {% block content %}
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        {% endblock %}
    </div>
</div>
